body {
  padding-top: 70px;
  line-height: 1.5;
}

@media screen and (min-width:959px) {
.container {
	width: 960px;
}
}

.navbar-brand {
	width: 78px;
	height: 49px;
	background: url(/static/img/logo.png) 0 0 no-repeat;
	background-size: 78px Auto;
	background-position: center;
}

@media screen and (min-width:959px) {
#search-input {
	width: 638px;
}
}



.nav li button {
	margin-top: 8px;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
margin-left: 0;
}

.navbar-nav.navbar-right:last-child {
margin-right: 0;
}

.col-md-9, .col-xs-12 {
	padding-left: 0;
	padding-right: 0;
}

.container>.navbar-header {
	margin-left: -86px;
}

.navbar-form {
padding-left: 0;
}

.label-topic {
  color:  #13568d;
  background-color: #dfeaf4;
  padding: .3em .6em .3em;
}
.label-topic:hover,
.label-topic:focus {
	color: #fff !important;
  background-color: #2980b9;
}

a {
	color:  #13568d;
}

.comment, .share {
	color: #5490c3;
}

.report, .invite {
	color: #a9a9ac;
}

.bullet {
	color: #858a8f;
	font-size: .8em;
	font-weight: normal;
}

.question {
	
	margin-bottom:  20px;
}

.question h2 {
	font-size: 25;
line-height: 1.5;
}

.answers-title {
	border-top: 1px solid #ccc;
border-bottom: 1px solid #EEE;
position: relative;
padding: 10px 0;
line-height: 24px;
}

.answers-sorter {
overflow: hidden;
height: 24px;
position: absolute;
right: -9px;
top: 18px;
margin-top: -13px;
background: #fff;
}

.answers-sorter .lbl, .answers-sorter a.lbl {
padding: 0 19px 0 7px;
text-decoration: none;
display: block;
color: #999;
}

.answers-sorter .lbl, .answers-sorter a.lbl {
padding: 0 19px 0 7px;
text-decoration: none;
display: block;
color: #999;
}

.answers-sorter .zg-icon-double-arrow {
position: absolute;
top: 4px;
right: 3px;
}

.zg-icon-double-arrow {
background-position: -191px -229px;
width: 14px;
height: 14px;
}

.zg-icon {
width: 16px;
height: 16px;
background-image: url(http://static.zhihu.com/static/img/sprites-1.9.2.png);
background-repeat: no-repeat;
display: inline-block;
vertical-align: middle;
}

.answers-title {
	margin-bottom: 20px;
}
.answers-title h3 {
margin: 0;
display: inline;
font-weight: 700;
font-size: 14px;
outline: 0;
}

@media screen and (min-width:959px) {
.col-md-9 {
	padding-right: 60px;

}
}

a:hover {
	text-decoration: none;
}

.user-name {
	font-weight: bold;
	font-size: 1em;
}

.col-md-9 a {
	color: #5490c3;
}

.user-meta {
line-height: 2;
}

.avatar-img {
-webkit-border-radius: 50%;
border-radius: 50%;
}

.user-wrapper {
	position: relative;
}

.user-title {
	float: left;
}

.user-avatar {
	float: right;
}

@media screen and (min-width:959px) {
.comment-area .form-control {
	width: 638px;
	margin: 20px 0;
	min-height: 74px;
}
}

@media screen and (max-width:959px) {
.comment-area .form-control {
	width: 100%;
	margin: 20px 0;
	min-height: 74px;
}
}



.comment-box {
	border-bottom: 1px solid #EEE;
	margin-bottom: 20px;
	float: left;
}



@media screen and (min-width:959px) {
.user-wrapper {
	float: left;
	width: 638px;
}
}

@media screen and (max-width:959px) {
.user-wrapper {
	float: left;
	width: 100%;
}
}


.meta {
font-size: 13px;

}

.answer-user-meta {
color: #999;
}

.clear {
	clear: both;
}

.comment-area {
	float: left;
}

.answers-area {
	float: left;
}

.answer-item {
	float:left;
	border-bottom: 1px solid #EEE;
	margin-bottom: 20px;
}
.answer-text {
	float: left;
	margin: 20px 0;
}

.answer-meta  {
	float: left;
	clear: both;
	margin-bottom: 20px;
}

.zm-votebar {
position: absolute;
left: -48px;
}


.zm-votebar .up, .zm-votebar .down {
display: block;
color: #698ebf;
height: 24px;
line-height: 24px;
width: 38px;
border-radius: 3px;
border: 0;
cursor: pointer;
background: #eff6fa;
font-weight: 700;
font-weight: 500;
position: relative;
font-size: 13px;
padding: 0;
margin: 0;
}

.zm-votebar .up {
height: 44px;
}

.zm-votebar .up .vote-arrow {
background-position: 0 -229px;
}


.icon {
width: 16px;
height: 16px;
background-image: url(/static/img/sprites-1.9.2.png);
background-repeat: no-repeat;
display: inline-block;
vertical-align: middle;
}


.zm-votebar .up .vote-arrow {
border-top-width: 0;
border-bottom-color: #698ebf;
border-top-style: solid;
}

.zm-votebar .vote-arrow {
width: 0;
height: 0;
border: 6px solid transparent;
font-size: 0;
background-image: none;
}

.zm-votebar .label {
display: block;
text-indent: -9999px;
}

.zm-votebar .count {
position: absolute;
top: 18px;
left: 0;
width: 100%;
}

.zm-votebar .down {
margin: 5px 0 0;
}

.zm-votebar .down .vote-arrow {
background-position: -21px -229px;
}

.zm-votebar .down .vote-arrow {
border-bottom-width: 0;
border-top-color: #698ebf;
margin-top: 10px;
}

.zm-votebar .up:hover, .zm-votebar .down:hover, .zm-votebar .up.pressed, .zm-votebar .down.pressed {
background: #698ebf;
color: #fff;
}

.zm-votebar .up:hover .vote-arrow, .zm-votebar .up.pressed .vote-arrow {
border-bottom-color: #fff;
}
.zm-votebar .down:hover .vote-arrow, .zm-votebar .down.pressed .vote-arrow {
border-top-color: #fff;
}

.btn-follow{
	width: 232px;
}

.box {
	padding: 20px 0;
	border-bottom: 1px solid #EEE;
}

.promote-link {
	margin-top: 10px;
	text-align: center;
	
}

.promote-link  a{
	color: #5490c3;
}

.box h3 {
margin: 0 0 15px;
font-size: 15px;
font-family: inherit;
font-weight: 700;
line-height: 1.25;
color: inherit;
}

.box button {
font-family: inherit;
font-weight: 700;
}

.share-button {
float: left;
margin-right: 30px;
}

.share-img {
	width: 28px;
	height: 28px;
}

.share-text {
	color: #5490c3;
	font-size: 13px;
}

.zg-gray-normal, .zg-link-gray-normal, .zg-link-gray {
color: #999;
font-weight: 400;
}

.check-log{
	color: #5490c3;
}

.follow-box {
	padding-top: 0;
}

.status-box {
	border-bottom:  0;
}

.feed .user-avatar {
	position: absolute;
	left: -54px;
}

.feed .user-meta {
	color: #999;
	font-size: 14px;
	line-height: 1.5;
}

.summary {
	float: left;
	margin: 5px 0;
}

.feed .time {
	float: right;
	color: #999;
font-size: 13px;
line-height: 1.5;
}

.feed {
float:left;
	border-bottom: 1px solid #EEE;
	margin-bottom: 20px;
}

.feed .answer-meta a {
	color: #999;
}



@media screen and (min-width:959px) {
.feed .user-title {
	width: 638px;
}
}



.feed .summary img {
	margin: 5px 0;
}


.icon-home {
  background-image: url(/static/img/web-icon-large.png);
}

.icon-message {
  background-image: url(/static/img/email-icon-large.png);
}

.icon-fav {
  background-image: url(/static/img/folder-icon-large.png);
}

.icon-latter {
  background-image: url(/static/img/note-icon-large.png);
}

.icon-follow {
  background-image: url(/static/img/file-icon-large.png);
}

.icon-history {
  background-image: url(/static/img/cart-icon-large.png);
}

.icon-first {
  background-image: url(/static/img/iTunes.png);
}

.icon-second {
  background-image: url(/static/img/Time-Machine.png);
}

.nav-list [class^="icon-"], .nav-list [class*=" icon-"] {
width: 25px;
height: 25px;
margin-top: -3px;
margin-right: 6px;
vertical-align: text-top;
background-position: 0px 0px;
background-size:22.5px;
background-repeat: no-repeat;
display: inline-block;
}

.nav-list .icon-header {
  width: 48px;
height: 48px;
margin-top: -15px;
margin-left: -7px;
margin-right: 6px;
vertical-align: text-top;
background-position: 0px 0px;
background-size:48px;
background-repeat: no-repeat;
display: inline-block;
}


.nav.nav-list {
	border: 1px solid #EEE;
	border-radius: 5px;
}

@media screen and (min-width:959px) {
.feed .summary-text img {
max-width:638px;
}
}

@media screen and (max-width:959px) {
.feed .summary-text img {
max-width:100%;
}
}

.feed .feed-title h2 {
font-size: 15px;
	font-weight: bold;
	margin: 0;
	line-height: 1.5;
}

.new .note-editor {
	margin-top: 20px;
}

.new .tag {
	margin-top: 20px;
}

.note-editor {
border: 1px solid #ccc;
border-radius: 4px;
}

.note-editor .note-toolbar {
border-bottom: 1px solid #ccc;
border-top-left-radius:4px;
border-top-right-radius:4px;
}

.note-editor .note-statusbar .note-resizebar {
border-top: 1px solid #ccc;

}

.note-editor .note-statusbar {
border-bottom-left-radius:4px;
border-bottom-right-radius:4px;
}


.tag-avatar {
	float: left;
	margin-right: 20px;
}

.tag-text {
	float: left;
	width: 489px;
}


.tag-title h2 {
	margin-top: 0;
	margin-bottom: 10px;
}

.tag-header {
	float: left;
	padding-bottom: 30px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 30px;
}

.tab-pane {
	padding-top: 30px; 
}





#c4-header-bg-container {
position: relative;
height: 175px;
border-bottom: 1px solid #e2e2e2;
background-color: #333;
background-position: center center;
}


#c4-header-bg-container.has-custom-banner {
background-color: transparent;
background-size: cover;
}

#c4-header-bg-container .hd-banner{
display: none;
}

#header-links {
position: absolute;
right: 15px;
bottom: 0;
padding: 0;
font-size: 0;
cursor: auto;
}

.about-network-links {
margin-left: 2px;
}


.about-network-links, .channel-header .about-custom-links {
float: right;
padding: 10px;
background-color: rgba(102,102,102,0.5);
margin-bottom: 0;
}

.channel-header-profile-image-container {
top: 0;
left: 15px;
height: 100px;
width: 100px;
position: absolute;
background-color: rgba(0,0,0,.2);
display: inline-block;
}

.channel-header-profile-image {
width: 100px;
height: 100px;
background-color: #e9ecee;
box-shadow: 0 1px 1px rgba(0,0,0,.4);
}


.about-network-links, .about-custom-links {
float: right;
padding: 11px;
background-color: rgba(102,102,102,0.5);
}

.about-network-links .channel-links-item {
margin-left: 5px;
display: inline;
}

.about-network-links .channel-links-item:first-child {
margin-left: 0;
}

.about-channel-link-favicon {
vertical-align: middle;
}

.about-custom-links {
float: right;
padding: 10px;
background-color: rgba(102,102,102,0.5);
margin-bottom: 0;
}

.about-channel-link-text {
margin-left: 5px;
color: #fff;
font-size: 11px;
font-weight: bold;
display: inline-block;
}

.about-channel-link-text {
vertical-align: middle;
}

#gh-banner {
	margin-bottom: 30px;
}

.user-text {


text-align: center;
color: #fff;
}

#gh-banner .user-name {
	font-size: 60px;
	font-weight: 300;
}




@media (min-width: 768px)
.bs-docs-sidebar {
padding-left: 20px;
}

.bs-docs-sidenav {
margin-top: 20px;
margin-bottom: 20px;
}
.bs-docs-sidebar .nav>li>a {
display: block;
padding: 4px 20px;
font-size: 13px;
font-weight: 500;
color: #999;
}
.bs-docs-sidebar .nav .nav {
display: none;
padding-bottom: 10px;
}


.bs-docs-sidebar .nav .nav>li>a {
padding-top: 1px;
padding-bottom: 1px;
padding-left: 30px;
font-size: 12px;
font-weight: 400;
}

.back-to-top:hover, .bs-docs-theme-toggle:hover {
color: #563d7c;
text-decoration: none;
}

.back-to-top, .bs-docs-theme-toggle {
display: none;
padding: 4px 10px;
margin-top: 10px;
margin-left: 10px;
font-size: 12px;
font-weight: 500;
color: #999;
}

.bs-docs-theme-toggle {
margin-top: 0;
}


.back-to-top, .bs-docs-theme-toggle {
display: block;
}

.bs-docs-sidebar .nav>li>a:hover, .bs-docs-sidebar .nav>li>a:focus {
padding-left: 19px;
color: #563d7c;
text-decoration: none;
background-color: transparent;
border-left: 1px solid #563d7c;
}

.bs-docs-sidebar .nav>.active>a, .bs-docs-sidebar .nav>.active:hover>a, .bs-docs-sidebar .nav>.active:focus>a {
padding-left: 18px;
font-weight: 700;
color: #563d7c;
background-color: transparent;
border-left: 2px solid #563d7c;
}



.tag-ranking-list {
margin-top: -8px;
padding-left: 0;
}
.tag-list li, .tag-ranking-list li {
margin-top: 8px;
line-height: 0;
}
.tag-ranking-list li {
display: inline-block;
margin: 8px 4px 0 0;
}
a.tag, h4.tag {
display: inline-block;
background: #FFF;
border: 1px solid #e6e6e6;
padding: 0 8px;
height: 28px;
line-height: 28px;
max-width: 180px;
overflow: hidden;
color: #666;
vertical-align: middle;
font-size: 13px;
}
a.tag-img, h4.tag-img {
padding-left: 32px;
background-position: 8px center;
background-repeat: no-repeat;
}
.tag-tree section .tag {
margin-right: 4px;
}
.bs-docs-section {
margin-bottom: 60px;
}

.bs-docs-section h2 {
	padding-bottom: 9px;

	padding-top: 20px;
margin-top: 0;
}
a.tag:hover, h4.tag:hover {
border-color: #BBB;
background-color: #f0f0f0;
text-decoration: none;
}

.bs-docs-section {
border-bottom: 1px solid #eee;
}


.anchor {
	position: relative;
	top: -140px;
}

.note-editor .note-toolbar {
background-color: #f8f8f8;
}

.note-editor .note-statusbar {
background-color: #f8f8f8;
}

.nav-btn {
	padding: 0 !important;
}

.new-btn input{
	position: absolute;
top: 5px;
right: 60px;
}