body {
  min-height: 2000px;
  padding-top: 70px;
}


.container {
	width: 960px;
}

.navbar-brand {
	width: 70px;
	background: url(/static/img/logo.png) 0 0 no-repeat;
	background-size: 70px Auto;
	background-position: center;
}

#search-input {
	width: 638px;
}

.nav li button {
	margin-top: 8px;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
margin-left: 0;
}

.navbar-nav.navbar-right:last-child {
margin-right: 0;
}

.col-md-9, .col-xs-12 {
	padding-left: 0;
	padding-right: 0;
}

.container>.navbar-header {
	margin-left: -80px;
}

.navbar-form {
padding-left: 0;
}

.label-topic {
  color:  #13568d;
  background-color: #dfeaf4;
  padding: .3em .6em .3em;
}
.label-topic:hover,
.label-topic:focus {
	color: #fff !important;
  background-color: #2980b9;
}

a {
	color:  #13568d;
}

.comment, .share {
	color: #5490c3;
}

.report, .invite {
	color: #a9a9ac;
}

.bullet {
	color: #858a8f;
	font-size: .8em;
	font-weight: normal;
}

.question {
	
	margin-bottom:  20px;
}

.answers-title {
	border-top: 1px solid #ccc;
border-bottom: 1px solid #EEE;
position: relative;
padding: 10px 0;
line-height: 24px;
}

.answers-sorter {
overflow: hidden;
height: 24px;
position: absolute;
right: -9px;
top: 18px;
margin-top: -13px;
background: #fff;
}

.answers-sorter .lbl, .answers-sorter a.lbl {
padding: 0 19px 0 7px;
text-decoration: none;
display: block;
color: #999;
}

.answers-sorter .lbl, .answers-sorter a.lbl {
padding: 0 19px 0 7px;
text-decoration: none;
display: block;
color: #999;
}

.answers-sorter .zg-icon-double-arrow {
position: absolute;
top: 4px;
right: 3px;
}

.zg-icon-double-arrow {
background-position: -191px -229px;
width: 14px;
height: 14px;
}

.zg-icon {
width: 16px;
height: 16px;
background-image: url(http://static.zhihu.com/static/img/sprites-1.9.2.png);
background-repeat: no-repeat;
display: inline-block;
vertical-align: middle;
}

.answers-title {
	margin-bottom: 20px;
}
.answers-title h3 {
margin: 0;
display: inline;
font-weight: 700;
font-size: 14px;
outline: 0;
}

.col-md-9 {
	padding-right: 60px;

}

a:hover {
	text-decoration: none;
}

.user-name {
	font-weight: bold;
	font-size: 1em;
}

.col-md-9 a {
	color: #5490c3;
}

.user-meta {
line-height: 2;
}

.avatar-img {
-webkit-border-radius: 50%;
border-radius: 50%;
}

.user-wrapper {
	position: relative;
}

.user-title {
	float: left;
}

.user-avatar {
	float: right;
}

.comment-area .form-control {
	width: 638px;
	margin: 20px 0;
	min-height: 74px;
}

.comment-box {
	border-bottom: 1px solid #EEE;
	margin-bottom: 20px;
	float: left;
}

.user-wrapper {
	float: left;
width: 638px;
}


.meta {
font-size: 13px;

}

.answer-user-meta {
color: #999;
}

.clear {
	clear: both;
}

.comment-area {
	float: left;
}

.answers-area {
	float: left;
}

.answer-item {
	float:left;
	border-bottom: 1px solid #EEE;
	margin-bottom: 20px;
}
.answer-text {
	float: left;
	margin: 20px 0;
}

.answer-meta  {
	float: left;
	clear: both;
	margin-bottom: 20px;
}

.zm-votebar {
position: absolute;
left: -48px;
}


.zm-votebar .up, .zm-votebar .down {
display: block;
color: #698ebf;
height: 24px;
line-height: 24px;
width: 38px;
border-radius: 3px;
border: 0;
cursor: pointer;
background: #eff6fa;
font-weight: 700;
font-weight: 500;
position: relative;
font-size: 13px;
padding: 0;
margin: 0;
}

.zm-votebar .up {
height: 44px;
}

.zm-votebar .up .vote-arrow {
background-position: 0 -229px;
}


.icon {
width: 16px;
height: 16px;
background-image: url(/static/img/sprites-1.9.2.png);
background-repeat: no-repeat;
display: inline-block;
vertical-align: middle;
}


.zm-votebar .up .vote-arrow {
border-top-width: 0;
border-bottom-color: #698ebf;
border-top-style: solid;
}

.zm-votebar .vote-arrow {
width: 0;
height: 0;
border: 6px solid transparent;
font-size: 0;
background-image: none;
}

.zm-votebar .label {
display: block;
text-indent: -9999px;
}

.zm-votebar .count {
position: absolute;
top: 18px;
left: 0;
width: 100%;
}

.zm-votebar .down {
margin: 5px 0 0;
}

.zm-votebar .down .vote-arrow {
background-position: -21px -229px;
}

.zm-votebar .down .vote-arrow {
border-bottom-width: 0;
border-top-color: #698ebf;
margin-top: 10px;
}

.zm-votebar .up:hover, .zm-votebar .down:hover, .zm-votebar .up.pressed, .zm-votebar .down.pressed {
background: #698ebf;
color: #fff;
}

.zm-votebar .up:hover .vote-arrow, .zm-votebar .up.pressed .vote-arrow {
border-bottom-color: #fff;
}
.zm-votebar .down:hover .vote-arrow, .zm-votebar .down.pressed .vote-arrow {
border-top-color: #fff;
}

.btn-follow{
	width: 232px;
}

.box {
	padding: 20px 0;
	border-bottom: 1px solid #EEE;
}

.promote-link {
	margin-top: 10px;
	text-align: center;
	
}

.promote-link  a{
	color: #5490c3;
}

.box h3 {
margin: 0 0 15px;
font-size: 15px;
font-family: inherit;
font-weight: 700;
line-height: 1.25;
color: inherit;
}

.box button {
font-family: inherit;
font-weight: 700;
}

.share-button {
float: left;
margin-right: 30px;
}

.share-img {
	width: 28px;
	height: 28px;
}

.share-text {
	color: #5490c3;
	font-size: 13px;
}

.zg-gray-normal, .zg-link-gray-normal, .zg-link-gray {
color: #999;
font-weight: 400;
}

.check-log{
	color: #5490c3;
}