{% extends 'layout.html' %}

{% block title %}
<title>{{view_user.username}} - 买买买</title>
{% endblock %}

 {% block main %}
<div class="col-xs-12 col-md-9">

  <div id="gh-banner">

    <div id="c4-header-bg-container" class=" has-custom-banner"  {%if view_user.cover %}style="background-image: url({{view_user.cover}}-cover)"{%endif%}>
      <div class="hd-banner">
        <div class="hd-banner-image"></div>
      </div>
      <div id="header-links">
        <ul class="about-network-links">
          <li class="channel-links-item">
            <a class="sina" href="{{view_user.weibo or 'javascript:;'}}" title="@{{view_user.username}} {%if view_user.weibo %}的微博{% else %}还未设置{% endif %}" target="_blank" ></a>
          </li>

          <li class="channel-links-item">
            <a class="qzone" href="{{view_user.qzone or 'javascript:;'}}" title="@{{view_user.username}} {%if view_user.qzone %}的QQ空间{% else %}还未设置{% endif %}" target="_blank"></a>
          </li>

          <li class="channel-links-item">
            <a class="douban" href="{{view_user.douban or 'javascript:;'}}" title="@{{view_user.username}} {%if view_user.douban %}的豆瓣主页{% else %}还未设置{% endif %}" target="_blank"></a>
          </li>

          <li class="channel-links-item">
            <a class="renren" href="{{view_user.renren or 'javascript:;'}}" title="@{{view_user.username}} {%if view_user.renren %}的人人主页{% else %}还未设置{% endif %}" target="_blank"></a>
          </li>

        </ul>
        {% if view_user.website %}
        <ul class="about-custom-links">
          <li class="channel-links-item">
            <a href="{{view_user.website}}" rel="me nofollow" target="_blank" title="{{view_user.website}}" class="about-channel-link yt-uix-redirect-link about-channel-link-with-icon">
              <img src="/static/img/website.png" class="about-channel-link-favicon" alt="" width="16" height="16">
              <span class="about-channel-link-text">{{view_user.website}}</span>
            </a>
          </li>

        </ul>
        {% endif %}
      </div>

      <a class="channel-header-profile-image-container spf-link" href="/u/{{view_user.username}}">
        <img class="channel-header-profile-image" src="{{ view_user.avatar or 'http://avati-static.qiniudn.com/avatar.png'}}-avatar" title="{{view_user.username}}" alt="{{view_user.username}}"></a>

      <div class="user-text">
        <div class="user-name">
          {{view_user.username}}
          <a class="rank" data-container="body" data-toggle="popover" data-placement="right" data-content="声望：{{view_user.reputation}}，获得 赞同 {{view_user.up_num}}，感谢 {{view_user.thank_num}}。"></a>

        </div>
        {%if view_user.sign%}
        <div class="user-description">{{view_user.sign}}</div>
        {%endif%}
      </div>

    </div>

  </div>

  <div class="tag-feed">

    <ul id="type_tab" class="nav nav-tabs" role="tablist" id="myTab">
      <li {%if active_tab=="question" %}class="active"{%endif%}>
        <a href="#question" role="tab" data-toggle="tab">关注的问题</a>
      </li>
      <li {%if active_tab=="post" %}class="active"{%endif%}>
        <a href="#post" role="tab" data-toggle="tab">喜欢的文章</a>
      </li>
      <li {%if active_tab=="followees" %}class="active"{%endif%}>
        <a href="#followees" role="tab" data-toggle="tab">关注了</a>
      </li>
      <li {%if active_tab=="followers" %}class="active"{%endif%}>
        <a href="#followers" role="tab" data-toggle="tab">关注者</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane {%if active_tab=="question" %}active{%endif%}" id="question">
        <div class="feed-list1">
          <div class="feeds-inner1">
            {%for feed in feeds1.list%}
            <div class="feed">
              <div class="user-wrapper">
                <div class="user-title">
                  <div class="time">{{feed.created|pretty_date}}</div>
                  <div class="user-meta meta">
                    <a class="user-link" href="/u/{{feed.author_username}}">{{feed.author_username}}</a>
                    提出了问题
                  </div>
                  <div class="feed-title">
                    <h2>
                      <a href="/p/{{feed.post_id}}">{{feed.title}}</a>
                    </h2>
                  </div>
                </div>
              </div>

            </div>
            {%endfor%}

        {% if feeds1.page.next!=feeds1.page.current %}
            <div class="next jscroll-next-parent" >
              <a href="/follows/{{view_user.username}}?p={{feeds1.page.next}}" id="load-more" class="jscroll-next load-more-btn infscr-loading" style="display: block;">更多</a>
            </div>
            {%else%}
            <div class="next jscroll-next-parent" >
              <a href="javascript:;" id="load-more" class="load-more-btn infscr-loading" style="display: block;">没有更多了</a>
            </div>
            {%endif%}
          </div>
        </div>
      </div>

      <div class="tab-pane {%if active_tab=="post" %}active{%endif%}" id="post">
        <div class="feed-list2">
          <div class="feeds-inner2">
            {%for feed in feeds2.list%}
            <div class="feed">
              <div class="user-wrapper">
                <div class="user-title">
                  <div class="time">{{feed.created|pretty_date}}</div>
                  <div class="user-meta meta">
                    <a class="user-link" href="/u/{{feed.author_username}}">{{feed.author_username}}</a>
                    提出了问题
                  </div>
                  <div class="feed-title">
                    <h2>
                      <a href="/p/{{feed.post_id}}">{{feed.title}}</a>
                    </h2>
                  </div>
                </div>
              </div>
            </div>
            {%endfor%}
        {% if feeds2.page.next!=feeds2.page.current %}
            <div class="next jscroll-next-parent" >
              <a href="/follows/{{view_user.username}}?p={{feeds2.page.next}}" id="load-more" class="jscroll-next load-more-btn infscr-loading" style="display: block;">更多</a>
            </div>
            {%else%}
            <div class="next jscroll-next-parent" >
              <a href="javascript:;" id="load-more" class="load-more-btn infscr-loading" style="display: block;">没有更多了</a>
            </div>
            {%endif%}
          </div>
        </div>
      </div>

      <div class="tab-pane {%if active_tab=="followees" %}active{%endif%}" id="followees">
        <div class="feed-list3">
          <div class="feeds-inner3">
            {%for feed in feeds3.list%}
            <div class="feed feed-f">
              <div class="btn-right">
                <a id="followBtn" data-obj="{{feed.uid}}" data-type="u" type="button" class="btn btn-f {% if feed.author_follow_id %} btn-danger {% else %}btn-success{% endif %} {%if user_info == none%}unlogin{%endif%}" {%if user_info==none%}data-link="{{link}}" data-link2="{{link2}}"{%endif%}>{% if feed.author_follow_id %}取消关注{% else %}关注{% endif %}</a>
              </div>

              <div class="user-wrapper-f">
                <div class="user-avatar-f">
                  <a href="/u/{{feed.username}}">
                    <img src="{{feed.avatar or 'http://avati-static.qiniudn.com/avatar.png'}}-avatar" width="50px" height="50px" alt="" class="avatar-img-f"></a>
                </div>
                <div class="user-title-f">
                  <div class="feed-title">
                    <h2>
                      <a href="/u/{{feed.username}}">{{feed.username}}</a>
                    </h2>
                  </div>
                  {% if feed.sign %}
                  <div class="user-meta-s meta">{{feed.sign}}</div>
                  {% endif %}
                  <div class="user-meta-f meta">
                    <a target="_blank" href="/people/luwangshan/followers" class="zg-link-gray-normal">{{feed.followees}} 关注者</a>
                    /
                    <a target="_blank" href="/people/luwangshan/asks" class="zg-link-gray-normal">{{feed.questions}} 提问</a>
                    /
                    <a target="_blank" href="/people/luwangshan/answers" class="zg-link-gray-normal">{{feed.answers}} 回答</a>
                    /
                    <a target="_blank" href="/people/luwangshan" class="zg-link-gray-normal">{{feed.posts}} 文章</a>
                  </div>
                </div>
              </div>
            </div>
            {%endfor%}
        {% if feeds3.page.next!=feeds3.page.current %}
            <div class="next jscroll-next-parent" >
              <a href="/follows/{{view_user.username}}?p={{feeds3.page.next}}" id="load-more" class="jscroll-next load-more-btn infscr-loading" style="display: block;">更多</a>
            </div>
            {%else%}
            <div class="next jscroll-next-parent" >
              <a href="javascript:;" id="load-more" class="load-more-btn infscr-loading" style="display: block;">没有更多了</a>
            </div>
            {%endif%}
          </div>
        </div>
      </div>

      <div class="tab-pane {%if active_tab=="followers" %}active{%endif%}" id="followers">
        <div class="feed-list4">
          <div class="feeds-inner4">
            {%for feed in feeds4.list%}
            <div class="feed feed-f">
              <div class="btn-right">
                <a id="followBtn" data-obj="{{feed.uid}}" data-type="u" type="button" class="btn btn-f {% if feed.author_follow_id %} btn-danger {% else %}btn-success{% endif %} {%if user_info == none%}unlogin{%endif%}" {%if user_info==none%}data-link="{{link}}" data-link2="{{link2}}"{%endif%}>{% if feed.author_follow_id %}取消关注{% else %}关注{% endif %}</a>
              </div>

              <div class="user-wrapper-f">
                <div class="user-avatar-f">
                  <a href="/u/{{feed.username}}">
                    <img src="{{feed.avatar or 'http://avati-static.qiniudn.com/avatar.png'}}-avatar" width="50px" height="50px" alt="" class="avatar-img-f"></a>
                </div>
                <div class="user-title-f">
                  <div class="feed-title">
                    <h2>
                      <a href="/u/{{feed.username}}">{{feed.username}}</a>
                    </h2>
                  </div>
                  {% if feed.sign %}
                  <div class="user-meta-s meta">{{feed.sign}}</div>
                  {% endif %}
                  <div class="user-meta-f meta">
                    <a target="_blank" href="/people/luwangshan/followers" class="zg-link-gray-normal">{{feed.followees}} 关注者</a>
                    /
                    <a target="_blank" href="/people/luwangshan/asks" class="zg-link-gray-normal">{{feed.questions}} 提问</a>
                    /
                    <a target="_blank" href="/people/luwangshan/answers" class="zg-link-gray-normal">{{feed.answers}} 回答</a>
                    /
                    <a target="_blank" href="/people/luwangshan" class="zg-link-gray-normal">{{feed.posts}} 文章</a>
                  </div>
                </div>
              </div>
            </div>
            {%endfor%}
        {% if feeds4.page.next!=feeds4.page.current %}
            <div class="next jscroll-next-parent" >
              <a href="/follows/{{view_user.username}}?p={{feeds4.page.next}}" id="load-more" class="jscroll-next load-more-btn infscr-loading" style="display: block;">更多</a>
            </div>
            {%else%}
            <div class="next jscroll-next-parent" >
              <a href="javascript:;" id="load-more" class="load-more-btn infscr-loading" style="display: block;">没有更多了</a>
            </div>
            {%endif%}
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

<div class=" col-xs-12 col-md-3">
  {%if view_user.uid==user_info.uid%}
  <div class="sidenav container-box">
    <ul class="nav nav-list">
      <li class="nav-item actived">
        <a href="/u/{{user_info.username}}"> <i class="icon-home"></i>
          我的主页
        </a>
      </li>
      <li class="nav-item">
        <a href="/setting"> <i class="icon-message"></i>
          基本设置
        </a>
      </li>
      <li class="nav-item">
        <a href="/setting/avatar">
          <i class="icon-fav"></i>
          设置头像
        </a>
      </li>

      <li class="nav-item">
        <a href="/setting/cover">
          <i class="icon-latter"></i>
          设置封面
        </a>
      </li>
      <li class="nav-item">
        <a href="/setting/password">
          <i class="icon-follow"></i>
          修改密码
        </a>
      </li>
      <li class="divider"></li>
      <li class="nav-item">
        <a href="/social">
          <i class="icon-history"></i>
          社交网络
        </a>
      </li>
    </ul>
  </div>
  {%else%}
  <div class="follow-box box">
    <a id="followBtn" data-obj="{{view_user.uid}}" data-type="{{'u'}}" type="button" class="btn {%if follow %}btn-danger {% else %} btn-success {% endif %}btn-follow {%if user_info == none%}unlogin{%endif%}" {%if user_info==none%}data-link="{{link}}" data-link2="{{link2}}"{%endif%}>{%if follow%}取消关注 {% else %} 关注 TA{% endif %}</a>
    <div class="promote-link meta">
      <a herf="#">推送问题给更多人</a>
    </div>
  </div>
  {%endif%}
</div>
{% endblock %} 

{% block javascript %}
{%if user_info==none or view_user.cover==none%}
<script src="/static/js/d3.v3.min.js"></script>
<script src="/static/trianglify-gh-pages/trianglify.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    var t = new Trianglify();
    var x= document.getElementById('c4-header-bg-container');
var pattern = t.generate(x.offsetWidth, x.offsetHeight);
x.setAttribute('style', 'background-image: '+pattern.dataUrl);
});
</script>
{%endif%}
<script type="text/javascript">
  $('#type_tab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
});

  $(".summary-text").each(function(){
        var text = $(this);
        str = text.text();
            textLeng = 130;
            if(str.length > textLeng ){
                  text.text(str.substring(0,textLeng)+"...");
            } 
    });

  $(".rank").hover(function () {
    $(".rank").popover('show')
},function(){
  $(".rank").popover('hide')
});

{%if user_info != none%}
  $(document).on('click', '#followBtn',  function() {
        var obj_id = $('#followBtn').attr('data-obj');
            var obj_type = $('#followBtn').attr('data-type');

            $.ajax({
              type: "POST",
              contentType: "application/json; charset=utf-8",
              dataType: "json",
              url: "/follow",
              data: JSON.stringify({obj_id: obj_id, obj_type: obj_type}), 
              success: function (msg) {
                if ($('#followBtn').hasClass('btn-success')) {
                $('#followBtn').removeClass('btn-success');
                $('#followBtn').addClass('btn-danger');
                $('#followBtn').text('取消关注');
                }
                else {
                  $('#followBtn').removeClass('btn-danger');
                $('#followBtn').addClass('btn-success');
                $('#followBtn').text('关注 TA');
                }
              },
              error: function (msg) {
                alert("error");
              }
            });
          
        });

$(document).on('click', '.thank',  function() {
  var thank_id = $(this).attr('data-id');
  var thank_type = $(this).attr('data-type');
  var thank_text = $(this);

  if (thank_text.text()=='已感谢') {
    return;
  }
  
  $.getJSON('/thank/' + thank_id + '?type=' + thank_type, function (data) {
    if (data.success != 0) {
      thank_text.text('已感谢'); 
      thank_text.removeAttr("href");
      thank_text.addClass("thanked");
    }
  });
});

$(document).on('click', '.report',  function() {
  var report_id = $(this).attr('data-id');
  var report_type = $(this).attr('data-type');
  var report_text = $(this);

  if (report_text.text()=='已举报') {
    return;
  }
  
  $.getJSON('/report/' + report_id + '?type=' + report_type, function (data) {
    if (data.success != 0) {
      report_text.text('已举报'); 
      report_text.removeAttr("href");
      report_text.addClass("reported");
    }
  });
});
{%endif%}
</script>

<script src="/static/jscroll-master/jquery.jscroll.js"></script>
<script>

$('.feed-list1').jscroll({
loadingHtml: '<a href="/u/{{view_user.user_name}}?p={{feeds1.page.next}}" id="load-more" class="load-more-btn infscr-loading" style="display: block;">加载中...</a>',
    contentSelector: '.feeds-inner1',
    nextSelector: 'a.jscroll-next:last',
    autoTrigger: false,
});

$('.feed-list2').jscroll({
loadingHtml: '<a href="/u/{{view_user.user_name}}?p={{feeds2.page.next}}" id="load-more" class="load-more-btn infscr-loading" style="display: block;">加载中...</a>',
    contentSelector: '.feeds-inner2',
    nextSelector: 'a.jscroll-next:last',
    autoTrigger: false,
});
</script>
{% endblock %}