<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Avati</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- Custom styles for this template -->
  <link href="/static/css/navbar-fixed-top.css" rel="stylesheet">

  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]>
  <script src="../../assets/js/ie8-responsive-file-warning.js"></script>
  <![endif]-->
  <script src="/static/js/ie-emulation-modes-warning.js"></script>
  <style type="text/css" adt="123"></style>

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="/static/js/ie10-viewport-bug-workaround.js"></script>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>

  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"></a>
      </div>
      <div class="navbar-collapse collapse">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" id="search-input" class="form-control" placeholder="Search"></div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="../navbar/">Home</a>
          </li>
          <li>
            <a href="../navbar-static-top/">Chanpory</a>
          </li>
          <li class="">
            <button class="btn btn-default">Ask Question</button>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse --> </div>
  </div>

  <div class="container">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="col-xs-12 col-md-9">

      <div class="question">
      <div class="topic-tags">
        <span class="label label-topic">互联网</span>
        <span class="label label-topic">创业</span>
        <span class="label label-topic">生活</span>
        <span class="label label-topic">商业</span>
        <span class="label label-topic">网上购物</span>
      </div>
      <h2>哪些东西买了之后，会让人因生活质量和幸福感提升而感觉相见恨晚？</h2>
      <p>
        物品可以是很常见具体化的，也可以是稀有略抽象的，单纯罗列清单不算，希望回答是结合具体应用场景。当然前提是不能违法啦
      </p>

      <div class="item_action_bar">
        <span><a class="comment" href="#">5 条评论</a></span>
        <span class="bullet"> • </span>
        <a class="share" href="#" >分享</a>
        <span class="bullet"> • </span>
        <span><a class="report" href="#" >举报</a></span>
        <span class="bullet"> • </span>
        <span><a class="invite" href="#" >邀请回答</a></span>
      </div>
    </div>

    <div class="answers-title clearfix">

<div id="answers-filter" class="answers-sorter">

<span class="lbl">按票数排序</span>
<a class="lbl" href="">按时间排序</a>

<i class="zg-icon zg-icon-double-arrow"></i>
</div>

<h3 id="question-answer-num">2 个回答</h3>
</div>

<div class="comment-box">
  <div class="user-wrapper">
      <div class="user-title">
        <div class="user-name">

          白墨，你们一群没有梦的人醒着也不许别人睡着

</div>
<div class="user-meta">
  <a href="#">
  修改话题经验
 • 匿名
</a>
</div>
</div>
<div class="user-avatar">
  <a href="#"><img src="http://tp2.sinaimg.cn/1907973425/180/22868395132/1" width="46px" height="46px" alt="" class="avatar-img" ></a>
</div>
</div>
<div class="comment-area">
  <textarea class="form-control" placeholder="写下你的回答...">
</textarea>
  </div>
</div>


  </div>

    <div class=" col-xs-12 col-md-3">
      <p>
      <a href="#">
        电视购物上卖的东西真的有人买吗？购买者是家庭主妇和老年人居多吗？ 11 个回答
      </a>
    </p>
    <p>
      <a href="#">
        什么东西适合按月订购？ 13 个回答
</a>
</p>
<p>
<a href="#">
  有些小东西，特别需要，身边很难买，网购吧，运费都是物品的几倍了，感觉不划算。各大电商难道不能想办法解决的这个问题吗？ 11 个回答
  </a>
</p>
<p>
  <a href="#">
    在服装店里买了一件衣服，花掉300元，这300元分别落入谁的口袋？我国的消费者是否在被剥削？ 2 个回答
  </a>
</p>
<p>
  <a href="#">
    在聚划算买的东西的价格，在成交记录里面是原价，算是欺骗行为么？ 11 个回答
  </a>
</p>
    </div>

  </div>
  <!-- /container -->

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>
</html>