{% extends 'layout.html' %} {% block title %}
<title>Avati</title>
{% endblock %} {% block main %}
<div class="col-xs-12 col-md-9">
    <div class="feed-list">
        {%for feed in feeds.list%}

        {%if feed.feed_type==1%}
        <div class="feed">
            <div class="user-wrapper">
                <div class="user-avatar">
                    <a href="/u/{{feed.author_username}}">
                        <img src="{{feed.author_avatar or 'http://avati-avatar.qiniudn.com/b_default.png-avatar' }}" width="46px" height="46px" alt="" class="avatar-img">
                    </a>
                </div>
                <div class="user-title">
                    <div class="time">{{feed.created|pretty_date}}</div>
                    <div class="user-meta meta"><a class="user-link" href="/u/{{feed.author_username}}">{{feed.author_username}}</a> {{feed.feed_text}}</div>
                    <div class="feed-title">
                        <h2><a href="/p/{{feed.post_id}}">{{feed.post_title}}</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="summary">
                <div class="summary-text">
                    {{feed.post_content}}
                </div>
            </div>
            <div class="answer-meta meta">
                <a herf="#">关注问题</a>
                <span class="bullet">•</span>
                <a herf="#">{{feed.post_reply_num}} 个回答</a>
                <span class="bullet">•</span>
                <a herf="#">分享</a>
                <span class="bullet">•</span>
                <a herf="#">感谢</a>
                <span class="bullet">•</span>
                <a herf="#">举报</a>
            </div>
        </div>
        {%endif%}

        {%if feed.feed_type==2%}
        <div class="feed">
            <div class="user-wrapper">
                <div class="user-avatar">
                    <a href="/u/{{feed.author_username}}">
                        <img src="{{feed.author_avatar or 'http://avati-avatar.qiniudn.com/b_default.png-avatar' }}" width="46px" height="46px" alt="" class="avatar-img">
                    </a>
                </div>
                <div class="user-title">
                    <div class="time">{{feed.created|pretty_date}}</div>
                    <div class="user-meta meta"><a class="user-link" href="/u/{{feed.author_username}}"> {{feed.author_username}} </a> {{feed.feed_text}}</div>
                    <div class="feed-title">
                        <h2><a href="/p/{{feed.post_id}}">{{feed.post_title}}</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="summary">
                <div class="summary-text">
                    {{feed.reply_content}}
                </div>
            </div>
            <div class="answer-meta meta">
                <a herf="#">关注问题</a>
                <span class="bullet">•</span>
                <a herf="#">{{feed.post_reply_num}} 条评论</a>
                <span class="bullet">•</span>
                <a herf="#">分享</a>
                <span class="bullet">•</span>
                <a herf="#">感谢</a>
                <span class="bullet">•</span>
                <a herf="#">举报</a>
            </div>
        </div>
        {%endif%}

        {%if feed.feed_type==3%}
        <div class="feed">
            <div class="user-wrapper">
                <div class="user-avatar">
                    <a href="/u/{{feed.author_username}}">
                        <img src="{{feed.author_avatar or 'http://avati-avatar.qiniudn.com/b_default.png-avatar' }}" width="46px" height="46px" alt="" class="avatar-img">
                    </a>
                </div>
                <div class="user-title">
                    <div class="time">{{feed.created|pretty_date}}</div>
                    <div class="user-meta meta"><a class="user-link" href="/u/{{feed.author_username}}">{{feed.author_username}}</a> {{feed.feed_text}}</div>
                    <div class="feed-title">
                        <h2><a href="/p/{{feed.post_id}}">{{feed.post_title}}</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="summary">
                <div class="summary-text">
                    {{feed.post_content}}
                </div>
            </div>
            <div class="answer-meta meta">
                <a herf="#">关注问题</a>
                <span class="bullet">•</span>
                <a herf="#">{{feed.post_reply_num}} 个回答</a>
                <span class="bullet">•</span>
                <a herf="#">分享</a>
                <span class="bullet">•</span>
                <a herf="#">感谢</a>
                <span class="bullet">•</span>
                <a herf="#">举报</a>
            </div>
        </div>
        {%endif%}

        {%if feed.feed_type==4%}
        <div class="feed">
            <div class="user-wrapper">
                <div class="user-avatar">
                    <a href="#/t/{{feed.tag_name}}">
                        <img src="{{tag_thumb or 'http://avati-static.qiniudn.com/scenery-19.png'}}" width="46px" height="46px" alt="" class="avatar-img">
                    </a>
                </div>
                <div class="user-title">
                    <div class="time">{{feed.created|pretty_date}}</div>
                    <div class="user-meta meta"><a class="user-link" href="#/t/{{feed.tag_name}}">{{feed.tag_name}}</a>{{feed.feed_text}}</div>
                    <div class="feed-title">
                        <h2><a href="/p/{{feed.post_id}}">{{feed.post_title}}</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="summary">
                <div class="summary-text">
                    {{feed.post_content}}
                </div>
            </div>
            <div class="answer-meta meta">
                <a herf="#">关注问题</a>
                <span class="bullet">•</span>
                <a herf="#">{{feed.post_reply_num}} 个回答</a>
                <span class="bullet">•</span>
                <a herf="#">分享</a>
                <span class="bullet">•</span>
                <a herf="#">感谢</a>
                <span class="bullet">•</span>
                <a herf="#">举报</a>
            </div>
        </div>
        {%endif%}

        {%if feed.feed_type==5%}
        {%endif%}

        {%if feed.feed_type==6%}
        {%endif%}

        {%if feed.feed_type==7%}
        {%endif%}

        {%if feed.feed_type==8%}
        {%endif%}

        {%if feed.feed_type==9%}
        {%endif%}

        {%if feed.feed_type==10%}
        {%endif%}

        {%if feed.feed_type==11%}
        {%endif%}

        {%if feed.feed_type==12%}
        {%endif%}




        {%endfor%}
    </div>

</div>

<div class=" col-xs-12 col-md-3">

    <ul class="nav nav-list">
        <li class="nav-item">
            <a href="/"> <i class="icon-home"></i>
                我的主页
            </a>
        </li>
        <li class="nav-item {% if active_nav == " notification " %} actived {% endif %}">
            <a href="/notification"> <i class="icon-message"></i>
                我关注的问题
            </a>
        </li>
        <li class="nav-item {% if active_nav == " favorite " %} actived {% endif %}">
            <a href="/favorite">
                <i class="icon-fav"></i>
                我的收藏
            </a>
        </li>


        <li class="nav-item {% if active_nav == " later " %} actived {% endif %}">
            <a href="/later">
                <i class="icon-latter"></i>
                邀请我回答的问题

            </a>
        </li>
        <li class="nav-item {% if active_nav == " follow " %} actived {% endif %}">
            <a href="/follow">
                <i class="icon-follow"></i>
                我的草稿
            </a>
        </li>
        <li class="divider"></li>
        <li class="nav-item {% if active_nav == " watch " %} actived {% endif %}">
            <a href="/watch">
                <i class="icon-history"></i>
                邀请朋友加入
            </a>
        </li>
    </ul>



    <div class="related-box box">
        <h3>热门问题</h3>
        <p>
            <a href="#">电视购物上卖的东西真的有人买吗？购买者是家庭主妇和老年人居多吗？ 11 个回答</a>
        </p>
        <p>
            <a href="#">什么东西适合按月订购？ 13 个回答</a>
        </p>
        <p>
            <a href="#">
            有些小东西，特别需要，身边很难买，网购吧，运费都是物品的几倍了，感觉不划算。各大电商难道不能想办法解决的这个问题吗？ 11 个回答
          </a>
        </p>
        <p>
            <a href="#">在服装店里买了一件衣服，花掉300元，这300元分别落入谁的口袋？我国的消费者是否在被剥削？ 2 个回答</a>
        </p>
        <p>
            <a href="#">在聚划算买的东西的价格，在成交记录里面是原价，算是欺骗行为么？ 11 个回答</a>
        </p>
    </div>

</div>
{% endblock %}

{% block javascript %}
<script>
$(document).ready(function() {
    $(".summary-text").each(function(){
        var text = $(this);
        str = text.html();
            textLeng = 130;
            if(str.length > textLeng ){
                  text.html(str.substring(0,textLeng)+"...");
            } 
    });
});
</script>
{% endblock %}