{% extends 'layout.html' %} {% block title %}
<title>提问 or 发帖 - 买买买</title>
{% endblock %} {% block stylesheet %}
<link rel="stylesheet" href="/static/font-awesome-4.1.0/css/font-awesome.min.css" />
<link href="/static/summernote-0.5.1-dist/summernote.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/jquery-ui-1.11.0/jquery-ui.css">
<link href="/static/aehlke-tag-it-1d84585/css/jquery.tagit.css" rel="stylesheet" type="text/css">
{% endblock %} {% block main %}
<div class="col-xs-12 col-md-9">
    <div class="new">
        <ul id="type_tab" class="nav nav-tabs" role="tablist" id="myTab">
            <li class="active">
                <a href="#question" role="tab" data-toggle="tab">问 答</a>
            </li>
            <li>
                <a href="#post" role="tab" data-toggle="tab">文 章</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="question">
                <form class="mt10" action='/new?t=q' method="POST" >
                    <div class="new-btn">
                        <input type="submit" id="qPostBtn" class="btn btn-sm btn-success" value="立即发布">{{ xsrf_form_html() }}</div>
                    <div class="title">
                        <input type="text" id="qTitle" name="title" class="form-control" placeholder="输入你的问题"></div>
                    <div class="content">
                        <div id="qSummernote" class="description"></div>
                        <input type="hidden" name="content" id="qContentText" value=""></div>
                    <div class="tag">
                        <input type="hidden" name="tag" id="qSingleField" data-all="{{allTagStr}}" value="">
                        <ul id="qTags" class=""></ul>
                    </div>
                </form>
            </div>
            <div class="tab-pane" id="post">
                <form class="mt10" action='/new?t=p' method="POST" >
                    <div class="new-btn">
                        <input type="submit" id="pPostBtn" class="btn btn-sm btn-success" value="立即发布">{{ xsrf_form_html() }}</div>
                    <div class="title">
                        <input type="text" id="pTitle" name="title" class="form-control" placeholder="输入你的问题"></div>
                    <div class="content">
                        <div id="pSummernote" class="description"></div>
                        <input type="hidden" name="content" id="pContentText" value=""></div>
                    <div class="tag">
                        <input type="hidden" name="tag" id="pSingleField" value="">
                        <ul id="pTags" class=""></ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class=" col-xs-12 col-md-3">
    <div class="sidenav container-box">
        <ul class="nav nav-list">
            <li class="nav-item">
                <a href="/u/{{user_info.username}}"> <i class="icon-home"></i>
                    我的主页
                </a>
            </li>
            <li class="nav-item">
                <a href="/follows/{{user_info.username}}"> <i class="icon-follow"></i>
                    我的所有关注
                </a>
            </li>
            <li class="nav-item">
                <a href="/notifications">
                    <i class="icon-message"></i>
                    我的消息
                    {%if notice_count%}
                    <span class="badge message-badge">{{notice_count}}</span>
                    {%endif%}
                </a>
            </li>

            <li class="nav-item">
                <a href="/invitations">
                    <i class="icon-invitation"></i>
                    邀请我回答的问题
                </a>
            </li>
            <li class="nav-item">
                <a href="javascript:;" class="comingsoon">
                    <i class="icon-list"></i>
                    欲望清单
                </a>
            </li>
            <li class="divider"></li>
            <li class="nav-item">
                <a href="javascript:;" id="inviteJoin" {% if user_info != none%}data-toggle="modal" data-target="#inviteJoinModal"{%endif%}>
                    <i class="icon-invite"></i>
                    邀请朋友加入
                </a>
            </li>
        </ul>
    </div>
</div>

<div id="inviteJoinModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">邀请朋友加入</h4>
            </div>
            <div class="modal-body">
                <div class="invite-email input-group">
                    <input id="inviteEmailInput" type="text" class="form-control" placeholder="输入 email 邀请朋友加入买买买">
                    <span class="input-group-btn">
                        <button id="inviteEmail" class="btn btn-default" type="button" data-post="">发送邀请</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block javascript %}
<script src="/static/jquery-ui-1.11.0/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/aehlke-tag-it-1d84585/js/tag-it.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/summernote-0.5.2-dist/summernote.min.js"></script>
<script src="/static/summernote-0.5.2-dist/summernote-zh-CN.js"></script>

<script>
$('#type_tab a').click(function(e) {
    e.preventDefault()
    $(this).tab('show')
})
</script>
<script type="text/javascript">
$(document).ready(function() {
    $('#qSummernote').summernote({
        height: 200, // set editor height
        minHeight: 200, // set minimum height of editor
        maxHeight: 600, // set maximum height of editor
        focus: true,
        toolbar: [
            //['style', ['style']],
            ['style', ['bold', 'italic', 'underline']],
            //['fontsize', ['fontsize']],
            //['color', ['color']],
            ['para', ['ul', 'ol' /*, 'paragraph'*/ ]],
            //['height', ['height']],
            //['table', ['table']],
            ['insert', ['link', 'picture', 'video']], // no insert buttons
            //['insert', ['link']],
            ['view', ['fullscreen' /*, 'codeview'*/ ]],
        ],
        lang: 'zh-CN',
        onImageUpload: function(files, editor, editable) {
            sendFile(files[0], editor, editable);
        },
    });

    function sendFile(file, editor, editable) {
            data = new FormData();
            data.append("file", file);
            $.ajax({
                data: data,
                type: "POST",
                url: "/upload",
                cache: false,
                contentType: false,
                processData: false,
                success: function(url) {
                    editor.insertImage(editable, url);
                }
            });
        }

    $('#pSummernote').summernote({
        height: 200, // set editor height
        minHeight: 200, // set minimum height of editor
        maxHeight: 600, // set maximum height of editor
        focus: true,
        toolbar: [
            //['style', ['style']],
            ['style', ['bold', 'italic', 'underline']],
            //['fontsize', ['fontsize']],
            //['color', ['color']],
            ['para', ['ul', 'ol' /*, 'paragraph'*/ ]],
            //['height', ['height']],
            //['table', ['table']],
            ['insert', ['link', 'picture', 'video']], // no insert buttons
            //['insert', ['link']],
            ['view', ['fullscreen' /*, 'codeview'*/ ]],
        ],
        lang: 'zh-CN',
        onImageUpload: function(files, editor, editable) {
            sendFile(files[0], editor, editable);
        },
    });
});

$(document).on('click', '#qPostBtn', function() {
    $('#qContentText').val($('#qSummernote').code());
    //alert($('#mySingleField').val());
});

$(document).on('click', '#pPostBtn', function() {
    $('#pContentText').val($('#pSummernote').code());
    //alert($('#mySingleField').val());
});
</script>

<script type="text/javascript">
$(document).ready(function() {
    var str = $('#qSingleField').attr('data-all');
    var sampleTags =  str.split(",");

    $("#qTags").tagit({
        placeholderText: '添加合适的标签',
        availableTags: sampleTags,
        singleField: true,
        allowSpaces: true, //标签中是否允许空格
        singleFieldNode: $('#qSingleField') //将值保存到mySingleField元素
    });

    $("#pTags").tagit({
        placeholderText: '添加合适的标签',
        availableTags: sampleTags,
        singleField: true,
        allowSpaces: true, //标签中是否允许空格
        singleFieldNode: $('#pSingleField') //将值保存到mySingleField元素
    });
});

$(document).on('click', '#inviteEmail',  function() {
  var email = $('#inviteEmailInput').val();

  $.getJSON('/invite/to/join?email='+email , function (data) {
    if (data.success != 0) {
      $('#inviteEmailInput').val('');
      $('#inviteJoinModal').modal('hide');
      alert('邀请发送成功!');
    } else {
      alert('邀请发送失败!');
    }
  });
});
</script>
{% endblock %}