{% extends 'layout.html' %} {% block title %}
<title>@{{user_info.username}} 的消息 - 买买买</title>
{% endblock %} {% block main %}
<div class="col-xs-12 col-md-9">
    <div class="feed-list">
        <div class="feeds-inner">
            {%for notice in notices.list%}

        {%if notice.notice_type==1%}
            <div class="feed">
                <div class="user-wrapper">
                    <div class="user-avatar">
                        <a href="/u/{{notice.username}}">
                            <img src="{{notice.avatar or 'http://avati-static.qiniudn.com/avatar.png'}}-avatar" width="46px" height="46px" alt="" class="avatar-img"></a>
                    </div>
                    <div class="user-title">
                        <div class="time">{{notice.created|pretty_date}}</div>
                        <div class="user-meta meta">
                            <a class="user-link" href="/u/{{notice.username}}">{{notice.username}}</a>
                            {{notice.notice_text}}
                        </div>
                        <div class="feed-title">
                            <h2>
                                <a href="/p/{{notice.post_id}}#{{notice.reply_id}}">{{notice.post_title}}</a>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="summary">
                    <div class="summary-text">{{notice.reply_content}}</div>
                </div>
            </div>
            {%endif%}

        {%if notice.notice_type==2%}
            <div class="feed">
                <div class="user-wrapper">
                    <div class="user-avatar">
                        <a href="/u/{{notice.username}}">
                            <img src="{{notice.avatar or 'http://avati-static.qiniudn.com/avatar.png'}}-avatar" width="46px" height="46px" alt="" class="avatar-img"></a>
                    </div>
                    <div class="user-title">
                        <div class="time">{{notice.created|pretty_date}}</div>
                        <div class="user-meta meta">
                            <a class="user-link" href="/u/{{notice.username}}">{{notice.username}}</a>
                            {{notice.notice_text}}
                        </div>
                        <div class="feed-title">
                            <h2>
                                <a href="/p/{{notice.post_id}}">{{notice.post_title}}</a>
                            </h2>
                        </div>
                    </div>
                </div>

            </div>
            {%endif%}

        {%if notice.notice_type==3%}
            <div class="feed">
                <div class="user-wrapper">
                    <div class="user-avatar">
                        <a href="/u/{{notice.username}}">
                            <img src="{{notice.avatar or 'http://avati-static.qiniudn.com/avatar.png'}}-avatar" width="46px" height="46px" alt="" class="avatar-img"></a>
                    </div>
                    <div class="user-title">
                        <div class="time">{{notice.created|pretty_date}}</div>
                        <div class="user-meta meta">
                            <a class="user-link" href="/u/{{notice.username}}">{{notice.username}}</a>
                            {{notice.notice_text}}
                        </div>
                        <div class="feed-title">
                            <h2>
                                <a href="/p/{{notice.post_id}}">{{notice.post_title}}</a>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            {%endif%}

        {%if notice.notice_type==4%}
            <div class="feed">
                <div class="user-wrapper">
                    <div class="user-avatar">
                        <a href="/u/{{notice.username}}">
                            <img src="{{notice.avatar or 'http://avati-static.qiniudn.com/avatar.png'}}-avatar" width="46px" height="46px" alt="" class="avatar-img"></a>
                    </div>
                    <div class="user-title">
                        <div class="time">{{notice.created|pretty_date}}</div>
                        <div class="user-meta meta">
                            <a class="user-link" href="/u/{{notice.username}}">{{notice.username}}</a>
                            {{notice.notice_text}}
                        </div>
                        <div class="feed-title">
                            <h2>
                                <a href="/p/{{notice.post_id}}">{{notice.post_title}}</a>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="summary">
                    <div class="summary-text">{{notice.reply_content}}</div>
                </div>
            </div>
            {%endif%}

        {%if notice.notice_type==5%}
            <div class="feed">
                <div class="user-wrapper">
                    <div class="user-avatar">
                        <a href="/u/{{notice.username}}">
                            <img src="{{notice.avatar or 'http://avati-static.qiniudn.com/avatar.png'}}-avatar" width="46px" height="46px" alt="" class="avatar-img"></a>
                    </div>
                    <div class="user-title">
                        <div class="time">{{notice.created|pretty_date}}</div>
                        <div class="user-meta meta">
                            <a class="user-link" href="/u/{{notice.username}}">{{notice.username}}</a>
                            {{notice.notice_text}}
                        </div>
                        <div class="feed-title">
                            <h2>
                                <a href="/p/{{notice.post_id}}">{{notice.post_title}}</a>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="summary">
                    <div class="summary-text">{{notice.reply_content}}</div>
                </div>
            </div>
            {%endif%}

        {%if notice.notice_type==6%}
            <div class="feed">
                <div class="user-wrapper">
                    <div class="user-avatar">
                        <a href="/u/{{notice.username}}">
                            <img src="{{notice.avatar or 'http://avati-static.qiniudn.com/avatar.png'}}-avatar" width="46px" height="46px" alt="" class="avatar-img"></a>
                    </div>
                    <div class="user-title">
                        <div class="time">{{notice.created|pretty_date}}</div>
                        <div class="user-meta meta">
                            <a class="user-link" href="/u/{{notice.username}}">{{notice.username}}</a>
                            {{notice.notice_text}}
                        </div>
                        <div class="feed-title">
                            <h2>
                                <a href="/p/{{notice.post_id}}">{{notice.post_title}}</a>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="summary">
                    <div class="summary-text">{{notice.post_content}}</div>
                </div>
            </div>
            {%endif%}

        {%if notice.notice_type==7%}
            <div class="feed">
                <div class="user-wrapper">
                    <div class="user-avatar">
                        <a href="/u/{{notice.username}}">
                            <img src="{{notice.avatar or 'http://avati-static.qiniudn.com/avatar.png'}}-avatar" width="46px" height="46px" alt="" class="avatar-img"></a>
                    </div>
                    <div class="user-title">
                        <div class="time">{{notice.created|pretty_date}}</div>
                        <div class="user-meta meta">
                            <a class="user-link" href="/u/{{notice.username}}">{{notice.username}}</a>
                            {{notice.notice_text}}
                        </div>
                        <div class="feed-title">
                            <h2>
                                <a href="/p/{{notice.post_id}}">{{notice.post_title}}</a>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="summary">
                    <div class="summary-text">{{notice.reply_content}}</div>
                </div>
            </div>
            {%endif%}


        {%if notice.notice_type==8%}
            <div class="feed">
                <div class="user-wrapper">
                    <div class="user-avatar">
                        <a href="/u/{{notice.username}}">
                            <img src="{{notice.avatar or 'http://avati-static.qiniudn.com/avatar.png'}}-avatar" width="46px" height="46px" alt="" class="avatar-img"></a>
                    </div>
                    <div class="user-title">
                        <div class="time">{{notice.created|pretty_date}}</div>
                        <div class="user-meta meta">
                            <a class="user-link" href="/u/{{notice.username}}">{{notice.username}}</a>
                            {{notice.notice_text}}
                        </div>
                        <div class="feed-title">
                            <h2>
                                <a href="/p/{{notice.post_id}}#{{notice.reply_id}}">{{notice.post_title}}</a>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="summary">
                    <div class="summary-text">{{notice.reply_content}}</div>
                </div>
            </div>
            {%endif%}

        {%if notice.notice_type==9%}
            <div class="feed">
                <div class="user-wrapper">
                    <div class="user-avatar">
                        <a href="/u/{{notice.username}}">
                            <img src="{{notice.avatar or 'http://avati-static.qiniudn.com/avatar.png'}}-avatar" width="46px" height="46px" alt="" class="avatar-img"></a>
                    </div>
                    <div class="user-title">
                        <div class="time">{{notice.created|pretty_date}}</div>
                        <div class="user-meta meta">
                            <a class="user-link" href="/u/{{notice.username}}">{{notice.username}}</a>
                            {{notice.notice_text}}
                        </div>
                        <div class="feed-title">
                            <h2>
                                <a href="/p/{{notice.post_id}}">{{notice.post_title}}</a>
                            </h2>
                        </div>
                    </div>
                </div>

            </div>
            {%endif%}

        {%if notice.notice_type==10%}
            <div class="feed">
                <div class="user-wrapper">
                    <div class="user-avatar">
                        <a href="/u/{{notice.username}}">
                            <img src="{{notice.avatar or 'http://avati-static.qiniudn.com/avatar.png'}}-avatar" width="46px" height="46px" alt="" class="avatar-img"></a>
                    </div>
                    <div class="user-title">
                        <div class="time">{{notice.created|pretty_date}}</div>
                        <div class="user-meta meta">
                            <a class="user-link" href="/u/{{notice.username}}">{{notice.username}}</a>
                            {{notice.notice_text}}
                        </div>
                        <div class="feed-title">
                            <h2>
                                <a href="/p/{{notice.post_id}}">{{notice.post_title}}</a>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            {%endif%}

        {%if notice.notice_type==11%}
            <div class="feed">
                <div class="user-wrapper">
                    <div class="user-avatar">
                        <a href="/u/{{notice.username}}">
                            <img src="{{notice.avatar or 'http://avati-static.qiniudn.com/avatar.png'}}-avatar" width="46px" height="46px" alt="" class="avatar-img"></a>
                    </div>
                    <div class="user-title">
                        <div class="time">{{notice.created|pretty_date}}</div>
                        <div class="user-meta meta">
                            <a class="user-link" href="/u/{{notice.username}}">{{notice.username}}</a>
                            {{notice.notice_text}}
                        </div>
                        <div class="feed-title">
                            <h2>
                                <a href="/p/{{notice.post_id}}">{{notice.post_title}}</a>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="summary">
                    <div class="summary-text">{{notice.reply_content}}</div>
                </div>
            </div>
            {%endif%}

        {%if notice.notice_type==12%}
            <div class="feed">
                <div class="user-wrapper">
                    <div class="user-avatar">
                        <a href="/u/{{notice.username}}">
                            <img src="{{notice.avatar or 'http://avati-static.qiniudn.com/avatar.png'}}-avatar" width="46px" height="46px" alt="" class="avatar-img"></a>
                    </div>
                    <div class="user-title">
                        <div class="time">{{notice.created|pretty_date}}</div>
                        <div class="user-meta meta">
                            <a class="user-link" href="/u/{{notice.username}}">{{notice.username}}</a>
                            {{notice.notice_text}}
                        </div>
                        <div class="feed-title">
                            <h2>
                                <a href="/p/{{notice.post_id}}">{{notice.post_title}}</a>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="summary">
                    <div class="summary-text">{{notice.reply_content}}</div>
                </div>
            </div>
            {%endif%}

        {%if notice.notice_type==13%}
            <div class="feed">
                <div class="user-wrapper">
                    <div class="user-avatar">
                        <a href="/u/{{notice.username}}">
                            <img src="{{notice.avatar or 'http://avati-static.qiniudn.com/avatar.png'}}-avatar" width="46px" height="46px" alt="" class="avatar-img"></a>
                    </div>
                    <div class="user-title">
                        <div class="time">{{notice.created|pretty_date}}</div>
                        <div class="user-meta meta">
                            <a class="user-link" href="/u/{{notice.username}}">{{notice.username}}</a>
                            {{notice.notice_text}}
                        </div>
                        <div class="feed-title">
                            <h2>
                                <a href="/p/{{notice.post_id}}">{{notice.post_title}}</a>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="summary">
                    <div class="summary-text">{{notice.post_content}}</div>
                </div>
            </div>
            {%endif%}

        {%if notice.notice_type==14%}
            <div class="feed">
                <div class="user-wrapper">
                    <div class="user-avatar">
                        <a href="/u/{{notice.username}}">
                            <img src="{{notice.avatar or 'http://avati-static.qiniudn.com/avatar.png'}}-avatar" width="46px" height="46px" alt="" class="avatar-img"></a>
                    </div>
                    <div class="user-title">
                        <div class="time">{{notice.created|pretty_date}}</div>
                        <div class="user-meta meta">
                            <a class="user-link" href="/u/{{notice.username}}">{{notice.username}}</a>
                            {{notice.notice_text}}
                        </div>
                        <div class="feed-title">
                            <h2>
                                <a href="/p/{{notice.post_id}}">{{notice.post_title}}</a>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="summary">
                    <div class="summary-text">{{notice.reply_content}}</div>
                </div>
            </div>
            {%endif%}


        {%if notice.notice_type==15%}
            <div class="feed">
                <div class="user-wrapper">
                    <div class="user-avatar">
                        <a href="/u/{{notice.username}}">
                            <img src="{{notice.avatar or 'http://avati-static.qiniudn.com/avatar.png'}}-avatar" width="46px" height="46px" alt="" class="avatar-img"></a>
                    </div>
                    <div class="user-title">
                        <div class="time">{{notice.created|pretty_date}}</div>
                        <div class="user-meta meta">
                            <a class="user-link" href="/u/{{notice.username}}">{{notice.username}}</a>
                            {{notice.notice_text}}
                        </div>
                    </div>
                </div>
            </div>
            {%endif%}

        

        {%endfor%}
        {% if notices.page.next!=notices.page.current %}
            <div class="next jscroll-next-parent" >
                <a href="/notice?p={{notices.page.next}}" id="load-more" class="jscroll-next load-more-btn infscr-loading" style="display: block;">更多</a>
            </div>
            {%else%}
            <div class="next jscroll-next-parent" >
                <a href="javascript:;" id="load-more" class="load-more-btn infscr-loading" style="display: block;">没有更多了</a>
            </div>
            {%endif%}
        </div>
    </div>

</div>

<div class=" col-xs-12 col-md-3">
    <div class="sidenav container-box">
        <ul class="nav nav-list">
            <li class="nav-item">
                <a href="/u/{{user_info.username}}"> <i class="icon-home"></i>
                    我的主页
                </a>
            </li>
            <li class="nav-item">
                <a href="/notification"> <i class="icon-message"></i>
                    我关注的问题
                </a>
            </li>
            <li class="nav-item actived">
                <a href="/notifications">
                    <i class="icon-fav"></i>
                    我的消息
                </a>
            </li>

            <li class="nav-item">
                <a href="/invitations">
                    <i class="icon-latter"></i>
                    邀请我回答的问题
                </a>
            </li>
            <li class="nav-item">
                <a href="/list">
                    <i class="icon-follow"></i>
                    欲望清单
                </a>
            </li>
            <li class="divider"></li>
            <li class="nav-item">
                <a href="javascript:;" id="inviteJoin" {% if user_info != none%}data-toggle="modal" data-target="#inviteJoinModal"{%endif%}>
                    <i class="icon-history"></i>
                    邀请朋友加入
                </a>
            </li>
        </ul>
    </div>
</div>

<div id="inviteJoinModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">邀请朋友加入</h4>
            </div>
            <div class="modal-body">
                <div class="invite-email input-group">
                    <input id="inviteEmailInput" type="text" class="form-control" placeholder="输入 email 邀请朋友加入买买买">
                    <span class="input-group-btn">
                        <button id="inviteEmail" class="btn btn-default" type="button" data-post="">发送邀请</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>

    $(".summary-text").each(function(){
        var text = $(this);
        str = text.text();
            textLeng = 130;
            if(str.length > textLeng ){
                  text.text(str.substring(0,textLeng)+"...");
            } 
    });

    $(document).on('click', '#inviteEmail',  function() {
  var email = $('#inviteEmailInput').val();

  $.getJSON('/invite/join?email='+email , function (data) {
    if (data.success != 0) {
      $('#inviteEmailInput').val('');
      $('#inviteJoinModal').modal('hide');
      alert('邀请发送成功!');
    } else {
      alert('邀请发送失败!');
    }
  });
});

$('.feed-list').jscroll({
loadingHtml: '<a href="/notice?p={{notices.page.next}}" id="load-more" class="load-more-btn infscr-loading" style="display: block;">加载中...</a>',
    contentSelector: '.feeds-inner',
    nextSelector: 'a.jscroll-next:last',
    autoTrigger: false,
    callback: function(newElems) {
        $(".summary-text").each(function(){
        var text = $(this);
        str = text.text();
            textLeng = 130;
            if(str.length > textLeng ){
                  text.text(str.substring(0,textLeng)+"...");
            } 
        });
    },
});
</script>
{% endblock %}