{% extends 'layout.html' %}

{% block title %}
<title>{{post.title}}</title>
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="/static/font-awesome-4.1.0/css/font-awesome.min.css" />
<link href="/static/summernote-0.5.1-dist/summernote.css" rel="stylesheet">
{% endblock %}

 {% block main %}
    <div class="col-xs-12 col-md-9">

      <div class="question">
        <div class="topic-tags">
          {% for tag in tags.list %}
          <a href="/tag/{{tag.tag_name}}" class="label label-topic">{{tag.tag_name}}</a>
          {% endfor %}
        </div>
        <div class="topic-title">
        <h2>{{post.title}}</h2>
      </div>
      <div class="topic-content">
        {{post.content}}
      </div>
        <div class="item_action_bar meta">
          <span>
            <a class="comment" href="#">{{post.reply_num}} 条评论</a>
          </span>
          <span class="bullet">•</span>
          <a class="share" href="#" >分享</a>
          <span class="bullet">•</span>
          <span>
            <a class="report" href="#" >举报</a>
          </span>
          <span class="bullet">•</span>
          <span>
            <a class="invite" href="#" >邀请回答</a>
          </span>
        </div>
      </div>

      <div class="answers-title clearfix">

        <div id="answers-filter" class="answers-sorter">

          <span class="lbl">按票数排序</span>
          <a class="lbl" href="">按时间排序</a> <i class="zg-icon zg-icon-double-arrow"></i>
        </div>

        <h3 id="question-answer-num">{{post.reply_num}} 个回答</h3>
      </div>

      

      <div class="answers-area">
        {% for reply in replys.list %}
        <div class="answer-item">
          <div class="user-wrapper">
            <div class="zm-votebar goog-scrollfloater">
              <button class="up"  title="赞同"> <i class="icon vote-arrow"></i>
                <span class="label">赞同</span>
                <span class="count">{{reply.up_num}}</span>
              </button>
              <button class="down"  title="反对，不会显示你的姓名">
                <i class="icon vote-arrow"></i>
                <span class="label">反对，不会显示你的姓名</span>
              </button>
            </div>
            <div class="user-title">
              <div class="user-name">{{reply.author_username}}，{{reply.author_sign}}</div>
              <div class="answer-user-meta meta">Zikiong Lim、吕归尘、jia najia 等人赞同</div>
            </div>
            <div class="user-avatar">
              <a href="/u/{{reply.author_username}}">
                <img src="{{ reply.author_avatar or 'http://avati-avatar.qiniudn.com/b_default.png-avatar' }}" width="46px" height="46px" alt="" class="avatar-img" ></a>
            </div>
          </div>
          <div class="answer-text">
            {{reply.content}}
          </div>
          <div class="answer-meta meta">
            <a herf="#">18+ 条评论</a>
            <span class="bullet">•</span>
            <a herf="#">分享</a>
            <span class="bullet">•</span>
            <a herf="#">感谢</a>
            <span class="bullet">•</span>
            <a herf="#">举报</a>
            <span class="bullet">•</span>
            <a herf="#">{{reply.created}}</a>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="comment-box">
        <div class="user-wrapper">
          <div class="user-title">
            <div class="user-name">{{user_info.username}}，{{user_info.sign}}</div>
            <div class="user-meta meta">
              <a href="#">
                修改话题经验
 • 匿名
              </a>
            </div>
          </div>
          <div class="user-avatar">
            <a href="/u/{{user_info.username}}">
              <img src="{{ user_info.avatar or 'http://avati-avatar.qiniudn.com/b_default.png-avatar' }}" width="46px" height="46px" alt="" class="avatar-img" ></a>
          </div>
        </div>
        <div class="comment-area clear">
                        <div id="rSummernote" class="description"></div>
                        <input type="hidden" name="reply" id="rReplyText" value="">

        </div>
        <div class="reply-btn">
                        <input type="submit" id="rPostBtn" data-post="{{ post.id }}" class="btn btn-sm btn-default" value="立即发布">{{ xsrf_form_html() }}
                    </div>
      </div>

    </div>

    <div class=" col-xs-12 col-md-3">
      <div class="follow-box box">
        <button type="button" class="btn btn-success btn-follow">关注问题</button>
        <div class="promote-link meta">
          <a herf="#">推送问题给更多人</a>
        </div>
      </div>
      <div class="related-box box">
        <h3>相关问题</h3>
        <p>
          <a href="#">电视购物上卖的东西真的有人买吗？购买者是家庭主妇和老年人居多吗？ 11 个回答</a>
        </p>
        <p>
          <a href="#">什么东西适合按月订购？ 13 个回答</a>
        </p>
        <p>
          <a href="#">
            有些小东西，特别需要，身边很难买，网购吧，运费都是物品的几倍了，感觉不划算。各大电商难道不能想办法解决的这个问题吗？ 11 个回答
          </a>
        </p>
        <p>
          <a href="#">在服装店里买了一件衣服，花掉300元，这300元分别落入谁的口袋？我国的消费者是否在被剥削？ 2 个回答</a>
        </p>
        <p>
          <a href="#">在聚划算买的东西的价格，在成交记录里面是原价，算是欺骗行为么？ 11 个回答</a>
        </p>
      </div>

      <div class="share-box box">
        <h3>分享问题</h3>
        <div class="share-line">
          <div class="share-button">
            <a href="http://weibo.com">
              <img src="/static/img/weibo.png" class="share-img">
              <span class="share-text">新浪微博</span>
            </a>
          </div>

          <div class="share-button">
            <a href="http://weixin.qq.com/">
              <img src="/static/img/weixin.png" class="share-img">
              <span class="share-text">腾讯微信</span>
            </a>
          </div>
          <div class="clear"></div>
        </div>
      </div>

      <div class="status-box  box">
        <h3>问题状态</h3>
        <div class="zg-gray-normal">
          最近活动于
          <span class="time">02:00</span>
          <span class="zg-bull">•</span>
          <a href="/" class="check-log">查看问题日志</a>
        </div>
        <div class="zg-gray-normal">
          被浏览 <strong>18193</strong>
          次，关注者 <strong>432627</strong>
          人
        </div>

      </div>

    </div>
{% endblock %}


{% block javascript %}
<script src="/static/summernote-0.5.1-dist/summernote.min.js"></script>
<script src="/static/summernote-0.5.1-dist/summernote-zh-CN.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    $('#rSummernote').summernote({

        minHeight: 200, // set minimum height of editor
        maxHeight: 600, // set maximum height of editor
        focus: true,
        toolbar: [
            //['style', ['style']],
            ['style', ['bold', 'italic', 'underline']],
            //['fontsize', ['fontsize']],
            //['color', ['color']],
            ['para', ['ul', 'ol' /*, 'paragraph'*/ ]],
            //['height', ['height']],
            //['table', ['table']],
            ['insert', ['link', 'picture', 'video']], // no insert buttons
            //['insert', ['link']],
            ['view', ['fullscreen' /*, 'codeview'*/ ]],
        ],
        lang: 'zh-CN',
    });
});

$(document).on('click', '#qPostBtn', function() {
    $('#qContentText').val($('#qSummernote').code());
    //alert($('#mySingleField').val());
});


$(document).on('click', '#rPostBtn',  function() {
            var reply_text = $('#rSummernote').code();
            var post_id = $('#rPostBtn').attr('data-post');

            $.ajax({
              type: "POST",
              contentType: "application/json; charset=utf-8",
              dataType: "json",
              url: "/reply/"+post_id,
              data: JSON.stringify({reply_content: reply_text}), 
              success: function (msg) {
                $('#rSummernote').code('');
                alert("ok!");
              },
              error: function (msg) {
                alert("error");
              }
            });
        });
</script>
{% endblock %}