{% extends 'layout.html' %}

{% block title %}
<title>Avati</title>
{% endblock %}

 {% block main %}
    <div class="col-xs-12 col-md-9">

      <div class="tag-header">
        <div class="tag-avatar">
          <a href="/t/{{tag.name}}">
                <img src="{{tag.thumb or 'http://avati-static.qiniudn.com/scenery-19.png'}}" width="128px" height="128px" alt="" class="tag-avatar-img" ></a>
        </div>
        <div class="tag-text">
          <div class="tag-title">
            <h2>
            <a href="/t/{{tag.name}}">
              {{tag.name}}
            </a>
          </h2>
          </div>
          <div class="tag-desciption">
            <p>
              {%if tag.intro%}
            {{tag.into}}
            {%else%}
            目前还没有关于这个标签的解释
            {%endif%}
          </p>

          </div>
        </div>
      </div>

      <div class="tag-feed">

        <ul id="type_tab" class="nav nav-tabs" role="tablist" id="myTab">
          <li class="active">
            <a href="#feed" role="tab" data-toggle="tab">最新动态</a>
          </li>
          <li>
            <a href="#question" role="tab" data-toggle="tab">问题 {{feeds1_len}}</a>
          </li>
          <li>
            <a href="#post" role="tab" data-toggle="tab">文章 {{feeds7_len}}</a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="feed">
            <div class="feed-list">
        {%for feed in feeds.list%}

        {%if feed.feed_type==1%}
        <div class="feed">
            <div class="user-wrapper">
                <div class="user-title">
                    <div class="time">{{feed.created|pretty_date}}</div>
                    <div class="user-meta meta"><a class="user-link" href="/u/{{feed.author_username}}">{{feed.author_username}}</a> {{feed.feed_text}}</div>
                    <div class="feed-title">
                        <h2><a href="/p/{{feed.post_id}}">{{feed.post_title}}</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="summary">
                <div class="summary-text">
                    {{feed.post_content}}
                </div>
            </div>
            <div class="answer-meta meta">
                <a class="feed-post-follow-btn" href="javascript:void(0)" data-obj="{{feed.post_id}}" data-type="{{feed.post_type}}">{%if feed.post_follow_id%}取消关注{%else%}关注问题{%endif%}</a>
                <span class="bullet">•</span>
                <a href="/p/{{feed.post_id}}">{{feed.post_reply_num}} 个回答</a>
                <span class="bullet">•</span>
                <a href="#">分享</a>
                <span class="bullet">•</span>
                <a href="#">感谢</a>
                <span class="bullet">•</span>
                <a href="#">举报</a>
            </div>
        </div>
        {%endif%}

        {%if feed.feed_type==2%}
        <div class="feed">
            <div class="user-wrapper">
                <div class="user-title">
                    <div class="time">{{feed.created|pretty_date}}</div>
                    <div class="user-meta meta"><a class="user-link" href="/u/{{feed.author_username}}"> {{feed.author_username}} </a> {{feed.feed_text}}</div>
                    <div class="feed-title">
                        <h2><a href="/p/{{feed.post_id}}">{{feed.post_title}}</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="summary">
                <div class="summary-text">
                    {{feed.reply_content}}
                </div>
            </div>
            <div class="answer-meta meta">
                <a class="feed-post-follow-btn" href="javascript:void(0)" data-obj="{{feed.post_id}}" data-type="{{feed.post_type}}">{%if feed.post_follow_id%}取消关注{%else%}关注问题{%endif%}</a>
                <span class="bullet">•</span>
                <a href="/p/{{feed.post_id}}">{{feed.post_reply_num}} 个回答</a>
                <span class="bullet">•</span>
                <a href="#">分享</a>
                <span class="bullet">•</span>
                <a href="#">感谢</a>
                <span class="bullet">•</span>
                <a href="#">举报</a>
            </div>
        </div>
        {%endif%}

        {%if feed.feed_type==3%}
        <div class="feed">
            <div class="user-wrapper">
                <div class="user-title">
                    <div class="time">{{feed.created|pretty_date}}</div>
                    <div class="user-meta meta"><a class="user-link" href="/u/{{feed.author_username}}">{{feed.author_username}}</a> {{feed.feed_text}}</div>
                    <div class="feed-title">
                        <h2><a href="/p/{{feed.post_id}}">{{feed.post_title}}</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="summary">
                <div class="summary-text">
                    {{feed.post_content}}
                </div>
            </div>
            <div class="answer-meta meta">
                <a class="feed-post-follow-btn" href="javascript:void(0)" data-obj="{{feed.post_id}}" data-type="{{feed.post_type}}">{%if feed.post_follow_id%}取消关注{%else%}关注问题{%endif%}</a>
                <span class="bullet">•</span>
                <a href="/p/{{feed.post_id}}">{{feed.post_reply_num}} 个回答</a>
                <span class="bullet">•</span>
                <a href="#">分享</a>
                <span class="bullet">•</span>
                <a href="#">感谢</a>
                <span class="bullet">•</span>
                <a href="#">举报</a>
            </div>
        </div>
        {%endif%}

        {%if feed.feed_type==4%}
        <div class="feed">
            <div class="user-wrapper">
                <div class="user-title">
                    <div class="time">{{feed.created|pretty_date}}</div>
                    <div class="user-meta meta"><a class="user-link" href="/t/{{feed.tag_name}}">{{feed.tag_name}}</a> {{feed.feed_text}}</div>
                    <div class="feed-title">
                        <h2><a href="/p/{{feed.post_id}}">{{feed.post_title}}</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="summary">
                <div class="summary-text">
                    {{feed.post_content}}
                </div>
            </div>
            <div class="answer-meta meta">
                <a class="feed-post-follow-btn" href="javascript:void(0)" data-obj="{{feed.post_id}}" data-type="{{feed.post_type}}">{%if feed.post_follow_id%}取消关注{%else%}关注问题{%endif%}</a>
                <span class="bullet">•</span>
                <a href="/p/{{feed.post_id}}">{{feed.post_reply_num}} 个回答</a>
                <span class="bullet">•</span>
                <a href="#">分享</a>
                <span class="bullet">•</span>
                <a href="#">感谢</a>
                <span class="bullet">•</span>
                <a href="#">举报</a>
            </div>
        </div>
        {%endif%}

        {%if feed.feed_type==5%}
        <div class="feed">
            <div class="user-wrapper">
                <div class="user-title">
                    <div class="time">{{feed.created|pretty_date}}</div>
                    <div class="user-meta meta"><a class="user-link" href="/u/{{feed.author_username}}"> {{feed.author_username}} </a> {{feed.feed_text}}</div>
                    <div class="feed-title">
                        <h2><a href="/p/{{feed.post_id}}">{{feed.post_title}}</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="summary">
                <div class="user-name">{{feed.reply_user_username}}{%if feed.reply_user_sign%}，{{feed.reply_user_sign}}{%endif%}</div>
                <div class="summary-text">
                    {{feed.reply_content}}
                </div>
            </div>
            <div class="answer-meta meta">
                <a class="feed-post-follow-btn" href="javascript:void(0)" data-obj="{{feed.post_id}}" data-type="{{feed.post_type}}">{%if feed.post_follow_id%}取消关注{%else%}关注问题{%endif%}</a>
                <span class="bullet">•</span>
                <a href="/p/{{feed.post_id}}">{{feed.post_reply_num}} 个回答</a>
                <span class="bullet">•</span>
                <a href="#">分享</a>
                <span class="bullet">•</span>
                <a href="#">感谢</a>
                <span class="bullet">•</span>
                <a href="#">举报</a>
            </div>
        </div>
        {%endif%}

        {%if feed.feed_type==6%}
        <div class="feed">
            <div class="user-wrapper">
                <div class="user-title">
                    <div class="time">{{feed.created|pretty_date}}</div>
                    <div class="user-meta meta"><a class="user-link" href="/t/{{feed.tag_name}}">{{feed.tag_name}}</a>{{feed.feed_text}}</div>
                    <div class="feed-title">
                        <h2><a href="/p/{{feed.post_id}}">{{feed.post_title}}</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="summary">
                <div class="user-name">{{feed.reply_user_username}}{%if feed.reply_user_sign%}，{{feed.reply_user_sign}}{%endif%}</div>
                <div class="summary-text">
                    {{feed.reply_content}}
                </div>
            </div>
            <div class="answer-meta meta">
                <a class="feed-post-follow-btn" href="javascript:void(0)" data-obj="{{feed.post_id}}" data-type="{{feed.post_type}}">{%if feed.post_follow_id%}取消关注{%else%}关注问题{%endif%}</a>
                <span class="bullet">•</span>
                <a href="/p/{{feed.post_id}}">{{feed.post_reply_num}} 个回答</a>
                <span class="bullet">•</span>
                <a href="#">分享</a>
                <span class="bullet">•</span>
                <a href="#">感谢</a>
                <span class="bullet">•</span>
                <a href="#">举报</a>
            </div>
        </div>
        {%endif%}

        {%if feed.feed_type==7%}
        <div class="feed">
            <div class="user-wrapper">
                <div class="user-avatar">
                    <a href="/u/{{feed.author_username}}">
                        <img src="{{feed.author_avatar or 'http://avati-avatar.qiniudn.com/b_default.png-avatar' }}" width="46px" height="46px" alt="" class="avatar-img">
                    </a>
                </div>
                <div class="user-title">
                    <div class="time">{{feed.created|pretty_date}}</div>
                    <div class="user-meta meta"><a class="user-link" href="/u/{{feed.author_username}}">{{feed.author_username}}</a> {{feed.feed_text}}</div>
                    <div class="feed-title">
                        <h2><a href="/p/{{feed.post_id}}">{{feed.post_title}}</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="summary">
                <div class="summary-text">
                    {{feed.post_content}}
                </div>
            </div>
            <div class="answer-meta meta">
                <a class="feed-post-follow-btn" href="javascript:void(0)" data-obj="{{feed.post_id}}" data-type="{{feed.post_type}}">{%if feed.post_follow_id%}取消关注{%else%}关注问题{%endif%}</a>
                <span class="bullet">•</span>
                <a href="/p/{{feed.post_id}}">{{feed.post_reply_num}} 个回答</a>
                <span class="bullet">•</span>
                <a href="#">分享</a>
                <span class="bullet">•</span>
                <a href="#">感谢</a>
                <span class="bullet">•</span>
                <a href="#">举报</a>
            </div>
        </div>
        {%endif%}

        {%if feed.feed_type==8%}
        <div class="feed">
            <div class="user-wrapper">
                <div class="user-avatar">
                    <a href="/u/{{feed.author_username}}">
                        <img src="{{feed.author_avatar or 'http://avati-avatar.qiniudn.com/b_default.png-avatar' }}" width="46px" height="46px" alt="" class="avatar-img">
                    </a>
                </div>
                <div class="user-title">
                    <div class="time">{{feed.created|pretty_date}}</div>
                    <div class="user-meta meta"><a class="user-link" href="/u/{{feed.author_username}}"> {{feed.author_username}} </a> {{feed.feed_text}}</div>
                    <div class="feed-title">
                        <h2><a href="/p/{{feed.post_id}}">{{feed.post_title}}</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="summary">
                <div class="summary-text">
                    {{feed.reply_content}}
                </div>
            </div>
            <div class="answer-meta meta">
                <a class="feed-post-follow-btn" href="javascript:void(0)" data-obj="{{feed.post_id}}" data-type="{{feed.post_type}}">{%if feed.post_follow_id%}取消关注{%else%}关注问题{%endif%}</a>
                <span class="bullet">•</span>
                <a href="/p/{{feed.post_id}}">{{feed.post_reply_num}} 个回答</a>
                <span class="bullet">•</span>
                <a href="#">分享</a>
                <span class="bullet">•</span>
                <a href="#">感谢</a>
                <span class="bullet">•</span>
                <a href="#">举报</a>
            </div>
        </div>
        {%endif%}

        {%if feed.feed_type==9%}
        <div class="feed">
            <div class="user-wrapper">
                <div class="user-avatar">
                    <a href="/u/{{feed.author_username}}">
                        <img src="{{feed.author_avatar or 'http://avati-avatar.qiniudn.com/b_default.png-avatar' }}" width="46px" height="46px" alt="" class="avatar-img">
                    </a>
                </div>
                <div class="user-title">
                    <div class="time">{{feed.created|pretty_date}}</div>
                    <div class="user-meta meta"><a class="user-link" href="/u/{{feed.author_username}}">{{feed.author_username}}</a> {{feed.feed_text}}</div>
                    <div class="feed-title">
                        <h2><a href="/p/{{feed.post_id}}">{{feed.post_title}}</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="summary">
                <div class="summary-text">
                    {{feed.post_content}}
                </div>
            </div>
            <div class="answer-meta meta">
                <a class="feed-post-follow-btn" href="javascript:void(0)" data-obj="{{feed.post_id}}" data-type="{{feed.post_type}}">{%if feed.post_follow_id%}取消关注{%else%}关注问题{%endif%}</a>
                <span class="bullet">•</span>
                <a href="/p/{{feed.post_id}}">{{feed.post_reply_num}} 个回答</a>
                <span class="bullet">•</span>
                <a href="#">分享</a>
                <span class="bullet">•</span>
                <a href="#">感谢</a>
                <span class="bullet">•</span>
                <a href="#">举报</a>
            </div>
        </div>
        {%endif%}

        {%if feed.feed_type==10%}
        <div class="feed">
            <div class="user-wrapper">
                <div class="user-avatar">
                    <a href="/t/{{feed.tag_name}}">
                        <img src="{{tag_thumb or 'http://avati-static.qiniudn.com/scenery-19.png'}}" width="46px" height="46px" alt="" class="avatar-img">
                    </a>
                </div>
                <div class="user-title">
                    <div class="time">{{feed.created|pretty_date}}</div>
                    <div class="user-meta meta"><a class="user-link" href="/t/{{feed.tag_name}}">{{feed.tag_name}}</a> {{feed.feed_text}}</div>
                    <div class="feed-title">
                        <h2><a href="/p/{{feed.post_id}}">{{feed.post_title}}</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="summary">
                <div class="summary-text">
                    {{feed.post_content}}
                </div>
            </div>
            <div class="answer-meta meta">
                <a class="feed-post-follow-btn" href="javascript:void(0)" data-obj="{{feed.post_id}}" data-type="{{feed.post_type}}">{%if feed.post_follow_id%}取消关注{%else%}关注问题{%endif%}</a>
                <span class="bullet">•</span>
                <a href="/p/{{feed.post_id}}">{{feed.post_reply_num}} 个回答</a>
                <span class="bullet">•</span>
                <a href="#">分享</a>
                <span class="bullet">•</span>
                <a href="#">感谢</a>
                <span class="bullet">•</span>
                <a href="#">举报</a>
            </div>
        </div>
        {%endif%}

        {%if feed.feed_type==11%}
        <div class="feed">
            <div class="user-wrapper">
                <div class="user-avatar">
                    <a href="/u/{{feed.author_username}}">
                        <img src="{{feed.author_avatar or 'http://avati-avatar.qiniudn.com/b_default.png-avatar' }}" width="46px" height="46px" alt="" class="avatar-img">
                    </a>
                </div>
                <div class="user-title">
                    <div class="time">{{feed.created|pretty_date}}</div>
                    <div class="user-meta meta"><a class="user-link" href="/u/{{feed.author_username}}"> {{feed.author_username}} </a> {{feed.feed_text}}</div>
                    <div class="feed-title">
                        <h2><a href="/p/{{feed.post_id}}">{{feed.post_title}}</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="summary">
                <div class="user-name">{{feed.reply_user_username}}{%if feed.reply_user_sign%}，{{feed.reply_user_sign}}{%endif%}</div>
                <div class="summary-text">
                    {{feed.reply_content}}
                </div>
            </div>
            <div class="answer-meta meta">
                <a class="feed-post-follow-btn" href="javascript:void(0)" data-obj="{{feed.post_id}}" data-type="{{feed.post_type}}">{%if feed.post_follow_id%}取消关注{%else%}关注问题{%endif%}</a>
                <span class="bullet">•</span>
                <a href="/p/{{feed.post_id}}">{{feed.post_reply_num}} 个回答</a>
                <span class="bullet">•</span>
                <a href="#">分享</a>
                <span class="bullet">•</span>
                <a href="#">感谢</a>
                <span class="bullet">•</span>
                <a href="#">举报</a>
            </div>
        </div>
        {%endif%}

        {%if feed.feed_type==12%}
        <div class="feed">
            <div class="user-wrapper">
                <div class="user-avatar">
                    <a href="/t/{{feed.tag_name}}">
                        <img src="{{tag_thumb or 'http://avati-static.qiniudn.com/scenery-19.png'}}" width="46px" height="46px" alt="" class="avatar-img">
                    </a>
                </div>
                <div class="user-title">
                    <div class="time">{{feed.created|pretty_date}}</div>
                    <div class="user-meta meta"><a class="user-link" href="/t/{{feed.tag_name}}">{{feed.tag_name}}</a>{{feed.feed_text}}</div>
                    <div class="feed-title">
                        <h2><a href="/p/{{feed.post_id}}">{{feed.post_title}}</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="summary">
                <div class="user-name">{{feed.reply_user_username}}{%if feed.reply_user_sign%}，{{feed.reply_user_sign}}{%endif%}</div>
                <div class="summary-text">
                    {{feed.reply_content}}
                </div>
            </div>
            <div class="answer-meta meta">
                <a class="feed-post-follow-btn" href="javascript:void(0)" data-obj="{{feed.post_id}}" data-type="{{feed.post_type}}">{%if feed.post_follow_id%}取消关注{%else%}关注问题{%endif%}</a>
                <span class="bullet">•</span>
                <a href="/p/{{feed.post_id}}">{{feed.post_reply_num}} 个回答</a>
                <span class="bullet">•</span>
                <a href="#">分享</a>
                <span class="bullet">•</span>
                <a href="#">感谢</a>
                <span class="bullet">•</span>
                <a href="#">举报</a>
            </div>
        </div>
        {%endif%}
        {%endfor%}
    </div>
          </div>
          <div class="tab-pane" id="question">
            <div class="feed-list">
        {%for feed in feeds1.list%}

        {%if feed.feed_type==1%}
        <div class="feed">
            <div class="user-wrapper">
                <div class="user-title">
                    <div class="time">{{feed.created|pretty_date}}</div>
                    <div class="user-meta meta"><a class="user-link" href="/u/{{feed.author_username}}">{{feed.author_username}}</a> {{feed.feed_text}}</div>
                    <div class="feed-title">
                        <h2><a href="/p/{{feed.post_id}}">{{feed.post_title}}</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="summary">
                <div class="summary-text">
                    {{feed.post_content}}
                </div>
            </div>
            <div class="answer-meta meta">
                <a class="feed-post-follow-btn" href="javascript:void(0)" data-obj="{{feed.post_id}}" data-type="{{feed.post_type}}">{%if feed.post_follow_id%}取消关注{%else%}关注问题{%endif%}</a>
                <span class="bullet">•</span>
                <a href="/p/{{feed.post_id}}">{{feed.post_reply_num}} 个回答</a>
                <span class="bullet">•</span>
                <a href="#">分享</a>
                <span class="bullet">•</span>
                <a href="#">感谢</a>
                <span class="bullet">•</span>
                <a href="#">举报</a>
            </div>
        </div>
        {%endif%}
        {%endfor%}
    </div>
          </div>
          <div class="tab-pane" id="post">
            <div class="feed-list">
        {%for feed in feeds7.list%}
        {%if feed.feed_type==7%}
        <div class="feed">
            <div class="user-wrapper">
                <div class="user-avatar">
                    <a href="/u/{{feed.author_username}}">
                        <img src="{{feed.author_avatar or 'http://avati-avatar.qiniudn.com/b_default.png-avatar' }}" width="46px" height="46px" alt="" class="avatar-img">
                    </a>
                </div>
                <div class="user-title">
                    <div class="time">{{feed.created|pretty_date}}</div>
                    <div class="user-meta meta"><a class="user-link" href="/u/{{feed.author_username}}">{{feed.author_username}}</a> {{feed.feed_text}}</div>
                    <div class="feed-title">
                        <h2><a href="/p/{{feed.post_id}}">{{feed.post_title}}</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="summary">
                <div class="summary-text">
                    {{feed.post_content}}
                </div>
            </div>
            <div class="answer-meta meta">
                <a class="feed-post-follow-btn" href="javascript:void(0)" data-obj="{{feed.post_id}}" data-type="{{feed.post_type}}">{%if feed.post_follow_id%}取消关注{%else%}关注问题{%endif%}</a>
                <span class="bullet">•</span>
                <a href="/p/{{feed.post_id}}">{{feed.post_reply_num}} 个回答</a>
                <span class="bullet">•</span>
                <a href="#">分享</a>
                <span class="bullet">•</span>
                <a href="#">感谢</a>
                <span class="bullet">•</span>
                <a href="#">举报</a>
            </div>
        </div>
        {%endif%}
        {%endfor%}
    </div>
          </div>
        </div>
      </div>

    </div>

    <div class=" col-xs-12 col-md-3">
      <div class="follow-box box">
        <a id="followBtn" data-obj="{{tag.id}}" data-type="{{'t'}}" type="button" class="btn {%if follow %}btn-danger {% else %} btn-success {% endif %}btn-follow">{%if follow%}取消关注 {% else %} 关注标签{% endif %}</a>
        <div class="promote-link meta">
          <a herf="#">推送问题给更多人</a>
        </div>
      </div>
    </div>
{% endblock %} 

{% block javascript %}
  <script type="text/javascript">
  $('#type_tab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})


  $(document).on('click', '#followBtn',  function() {
        var obj_id = $('#followBtn').attr('data-obj');
            var obj_type = $('#followBtn').attr('data-type');

            $.ajax({
              type: "POST",
              contentType: "application/json; charset=utf-8",
              dataType: "json",
              url: "/follow",
              data: JSON.stringify({obj_id: obj_id, obj_type: obj_type}), 
              success: function (msg) {
                if ($('#followBtn').hasClass('btn-success')) {
                $('#followBtn').removeClass('btn-success');
                $('#followBtn').addClass('btn-danger');
                $('#followBtn').text('取消关注');
                }
                else {
                  $('#followBtn').removeClass('btn-danger');
                $('#followBtn').addClass('btn-success');
                $('#followBtn').text('关注标签');
                }
              },
              error: function (msg) {
                alert("error");
              }
            });
          
        });
</script>
{% endblock %}


