{% extends 'layout.html' %}

{% block title %}
<title>Avati</title>
{% endblock %}

 {% block main %}
    <div class="col-xs-12 col-md-9">

      <div id="gh-banner">
       
        <div id="c4-header-bg-container" class=" has-custom-banner">
          <div class="hd-banner">
            <div class="hd-banner-image"></div>
          </div>
          <div id="header-links">
            <ul class="about-network-links">
              <li class="channel-links-item">
                <a href="https://plus.google.com/u/0/100601380617286837373" rel="me nofollow" target="_blank" title="" class="about-channel-link yt-uix-redirect-link about-channel-link-with-icon">
                  <img src="http://avati.qiniudn.com/favicons.png" class="about-channel-link-favicon" alt="" width="16" height="16"></a>
              </li>

              <li class="channel-links-item">
                <a href="http://twitter.com/verge" rel="me nofollow" target="_blank" title="" class="about-channel-link yt-uix-redirect-link about-channel-link-with-icon">
                  <img src="http://avati.qiniudn.com/favicons%20(1).png" class="about-channel-link-favicon" alt="" width="16" height="16"></a>
              </li>

              <li class="channel-links-item">
                <a href="http://facebook.com/thisistheverge" rel="me nofollow" target="_blank" title="" class="about-channel-link yt-uix-redirect-link about-channel-link-with-icon">
                  <img src="http://avati.qiniudn.com/favicons%20(2).png" class="about-channel-link-favicon" alt="" width="16" height="16"></a>
              </li>

              <li class="channel-links-item">
                <a href="http://thisistheverge.tumblr.com" rel="me nofollow" target="_blank" title="" class="about-channel-link yt-uix-redirect-link about-channel-link-with-icon">
                  <img src="http://avati.qiniudn.com/favicons%20(3).png" class="about-channel-link-favicon" alt="" width="16" height="16"></a>
              </li>

            </ul>

            <ul class="about-custom-links">
              <li class="channel-links-item">
                <a href="http://www.theverge.com" rel="me nofollow" target="_blank" title="theverge.com" class="about-channel-link yt-uix-redirect-link about-channel-link-with-icon">
                  <img src="/static/img/website.png" class="about-channel-link-favicon" alt="" width="16" height="16">
                  <span class="about-channel-link-text">theverge.com</span>
                </a>
              </li>

            </ul>
          </div>

          <a class="channel-header-profile-image-container spf-link" href="/u/{{view_user.username}}">
            <img class="channel-header-profile-image" src="{{ view_user.avatar or 'http://avati-avatar.qiniudn.com/b_default.png-avatar' }}" title="{{view_user.username}}" alt="{{view_user.username}}"></a>

            <div class="user-text">
              <div class="user-name">
                
                  {{view_user.username}}
                
              </div>
              {%if view_user.sign%}
              <div class="user-description">
                {{view_user.sign}}
              </div>
              {%endif%}
            </div>

        </div>

      </div>

      <div class="tag-feed">

        <ul id="type_tab" class="nav nav-tabs" role="tablist" id="myTab">
          <li class="active">
            <a href="#feed" role="tab" data-toggle="tab">最新动态</a>
          </li>
          <li>
            <a href="#question" role="tab" data-toggle="tab">问题 {{feeds1_len}}</a>
          </li>
          <li>
            <a href="#answer" role="tab" data-toggle="tab">回答 {{feeds2_len}}</a>
          </li>
          <li>
            <a href="#post" role="tab" data-toggle="tab">文章 {{feeds7_len}}</a>
          </li>
          <li>
            <a href="#comment" role="tab" data-toggle="tab">评论 {{feeds8_len}}</a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="feed">
            <div class="feed-list">
        {%for feed in feeds.list%}

        {%if feed.feed_type==1%}
        <div class="feed">
            <div class="user-wrapper">
                <div class="user-title">
                    <div class="time">{{feed.created|pretty_date}}</div>
                    <div class="user-meta meta"><a class="user-link" href="/u/{{feed.author_username}}">{{feed.author_username}}</a> {{feed.feed_text}}</div>
                    <div class="feed-title">
                        <h2><a href="/p/{{feed.post_id}}">{{feed.post_title}}</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="summary">
                <div class="summary-text">
                    {{feed.post_content}}
                </div>
            </div>
            <div class="answer-meta meta">
                <a class="feed-post-follow-btn" href="javascript:void(0)" data-obj="{{feed.post_id}}" data-type="{{feed.post_type}}">{%if feed.post_follow_id%}取消关注{%else%}关注问题{%endif%}</a>
                <span class="bullet">•</span>
                <a href="/p/{{feed.post_id}}">{{feed.post_reply_num}} 个回答</a>
                <span class="bullet">•</span>
                <a href="#">分享</a>
                <span class="bullet">•</span>
                <a href="#">感谢</a>
                <span class="bullet">•</span>
                <a href="#">举报</a>
            </div>
        </div>
        {%endif%}

        {%if feed.feed_type==2%}
        <div class="feed">
            <div class="user-wrapper">
                <div class="user-title">
                    <div class="time">{{feed.created|pretty_date}}</div>
                    <div class="user-meta meta"><a class="user-link" href="/u/{{feed.author_username}}"> {{feed.author_username}} </a> {{feed.feed_text}}</div>
                    <div class="feed-title">
                        <h2><a href="/p/{{feed.post_id}}">{{feed.post_title}}</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="summary">
                <div class="summary-text">
                    {{feed.reply_content}}
                </div>
            </div>
            <div class="answer-meta meta">
                <a class="feed-post-follow-btn" href="javascript:void(0)" data-obj="{{feed.post_id}}" data-type="{{feed.post_type}}">{%if feed.post_follow_id%}取消关注{%else%}关注问题{%endif%}</a>
                <span class="bullet">•</span>
                <a href="/p/{{feed.post_id}}">{{feed.post_reply_num}} 个回答</a>
                <span class="bullet">•</span>
                <a href="#">分享</a>
                <span class="bullet">•</span>
                <a href="#">感谢</a>
                <span class="bullet">•</span>
                <a href="#">举报</a>
            </div>
        </div>
        {%endif%}

        {%if feed.feed_type==3%}
        <div class="feed">
            <div class="user-wrapper">
                <div class="user-title">
                    <div class="time">{{feed.created|pretty_date}}</div>
                    <div class="user-meta meta"><a class="user-link" href="/u/{{feed.author_username}}">{{feed.author_username}}</a> {{feed.feed_text}}</div>
                    <div class="feed-title">
                        <h2><a href="/p/{{feed.post_id}}">{{feed.post_title}}</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="summary">
                <div class="summary-text">
                    {{feed.post_content}}
                </div>
            </div>
            <div class="answer-meta meta">
                <a class="feed-post-follow-btn" href="javascript:void(0)" data-obj="{{feed.post_id}}" data-type="{{feed.post_type}}">{%if feed.post_follow_id%}取消关注{%else%}关注问题{%endif%}</a>
                <span class="bullet">•</span>
                <a href="/p/{{feed.post_id}}">{{feed.post_reply_num}} 个回答</a>
                <span class="bullet">•</span>
                <a href="#">分享</a>
                <span class="bullet">•</span>
                <a href="#">感谢</a>
                <span class="bullet">•</span>
                <a href="#">举报</a>
            </div>
        </div>
        {%endif%}

        {%if feed.feed_type==4%}
        <div class="feed">
            <div class="user-wrapper">
                <div class="user-title">
                    <div class="time">{{feed.created|pretty_date}}</div>
                    <div class="user-meta meta"><a class="user-link" href="/t/{{feed.tag_name}}">{{feed.tag_name}}</a> {{feed.feed_text}}</div>
                    <div class="feed-title">
                        <h2><a href="/p/{{feed.post_id}}">{{feed.post_title}}</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="summary">
                <div class="summary-text">
                    {{feed.post_content}}
                </div>
            </div>
            <div class="answer-meta meta">
                <a class="feed-post-follow-btn" href="javascript:void(0)" data-obj="{{feed.post_id}}" data-type="{{feed.post_type}}">{%if feed.post_follow_id%}取消关注{%else%}关注问题{%endif%}</a>
                <span class="bullet">•</span>
                <a href="/p/{{feed.post_id}}">{{feed.post_reply_num}} 个回答</a>
                <span class="bullet">•</span>
                <a href="#">分享</a>
                <span class="bullet">•</span>
                <a href="#">感谢</a>
                <span class="bullet">•</span>
                <a href="#">举报</a>
            </div>
        </div>
        {%endif%}

        {%if feed.feed_type==5%}
        <div class="feed">
            <div class="user-wrapper">
                <div class="user-title">
                    <div class="time">{{feed.created|pretty_date}}</div>
                    <div class="user-meta meta"><a class="user-link" href="/u/{{feed.author_username}}"> {{feed.author_username}} </a> {{feed.feed_text}}</div>
                    <div class="feed-title">
                        <h2><a href="/p/{{feed.post_id}}">{{feed.post_title}}</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="summary">
                <div class="user-name">{{feed.reply_user_username}}{%if feed.reply_user_sign%}，{{feed.reply_user_sign}}{%endif%}</div>
                <div class="summary-text">
                    {{feed.reply_content}}
                </div>
            </div>
            <div class="answer-meta meta">
                <a class="feed-post-follow-btn" href="javascript:void(0)" data-obj="{{feed.post_id}}" data-type="{{feed.post_type}}">{%if feed.post_follow_id%}取消关注{%else%}关注问题{%endif%}</a>
                <span class="bullet">•</span>
                <a href="/p/{{feed.post_id}}">{{feed.post_reply_num}} 个回答</a>
                <span class="bullet">•</span>
                <a href="#">分享</a>
                <span class="bullet">•</span>
                <a href="#">感谢</a>
                <span class="bullet">•</span>
                <a href="#">举报</a>
            </div>
        </div>
        {%endif%}

        {%if feed.feed_type==6%}
        <div class="feed">
            <div class="user-wrapper">
                <div class="user-title">
                    <div class="time">{{feed.created|pretty_date}}</div>
                    <div class="user-meta meta"><a class="user-link" href="/t/{{feed.tag_name}}">{{feed.tag_name}}</a>{{feed.feed_text}}</div>
                    <div class="feed-title">
                        <h2><a href="/p/{{feed.post_id}}">{{feed.post_title}}</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="summary">
                <div class="user-name">{{feed.reply_user_username}}{%if feed.reply_user_sign%}，{{feed.reply_user_sign}}{%endif%}</div>
                <div class="summary-text">
                    {{feed.reply_content}}
                </div>
            </div>
            <div class="answer-meta meta">
                <a class="feed-post-follow-btn" href="javascript:void(0)" data-obj="{{feed.post_id}}" data-type="{{feed.post_type}}">{%if feed.post_follow_id%}取消关注{%else%}关注问题{%endif%}</a>
                <span class="bullet">•</span>
                <a href="/p/{{feed.post_id}}">{{feed.post_reply_num}} 个回答</a>
                <span class="bullet">•</span>
                <a href="#">分享</a>
                <span class="bullet">•</span>
                <a href="#">感谢</a>
                <span class="bullet">•</span>
                <a href="#">举报</a>
            </div>
        </div>
        {%endif%}

        {%if feed.feed_type==7%}
        <div class="feed">
            <div class="user-wrapper">
                <div class="user-avatar">
                    <a href="/u/{{feed.author_username}}">
                        <img src="{{feed.author_avatar or 'http://avati-avatar.qiniudn.com/b_default.png-avatar' }}" width="46px" height="46px" alt="" class="avatar-img">
                    </a>
                </div>
                <div class="user-title">
                    <div class="time">{{feed.created|pretty_date}}</div>
                    <div class="user-meta meta"><a class="user-link" href="/u/{{feed.author_username}}">{{feed.author_username}}</a> {{feed.feed_text}}</div>
                    <div class="feed-title">
                        <h2><a href="/p/{{feed.post_id}}">{{feed.post_title}}</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="summary">
                <div class="summary-text">
                    {{feed.post_content}}
                </div>
            </div>
            <div class="answer-meta meta">
                <a class="feed-post-follow-btn" href="javascript:void(0)" data-obj="{{feed.post_id}}" data-type="{{feed.post_type}}">{%if feed.post_follow_id%}取消关注{%else%}关注问题{%endif%}</a>
                <span class="bullet">•</span>
                <a href="/p/{{feed.post_id}}">{{feed.post_reply_num}} 个回答</a>
                <span class="bullet">•</span>
                <a href="#">分享</a>
                <span class="bullet">•</span>
                <a href="#">感谢</a>
                <span class="bullet">•</span>
                <a href="#">举报</a>
            </div>
        </div>
        {%endif%}

        {%if feed.feed_type==8%}
        <div class="feed">
            <div class="user-wrapper">
                <div class="user-avatar">
                    <a href="/u/{{feed.author_username}}">
                        <img src="{{feed.author_avatar or 'http://avati-avatar.qiniudn.com/b_default.png-avatar' }}" width="46px" height="46px" alt="" class="avatar-img">
                    </a>
                </div>
                <div class="user-title">
                    <div class="time">{{feed.created|pretty_date}}</div>
                    <div class="user-meta meta"><a class="user-link" href="/u/{{feed.author_username}}"> {{feed.author_username}} </a> {{feed.feed_text}}</div>
                    <div class="feed-title">
                        <h2><a href="/p/{{feed.post_id}}">{{feed.post_title}}</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="summary">
                <div class="summary-text">
                    {{feed.reply_content}}
                </div>
            </div>
            <div class="answer-meta meta">
                <a class="feed-post-follow-btn" href="javascript:void(0)" data-obj="{{feed.post_id}}" data-type="{{feed.post_type}}">{%if feed.post_follow_id%}取消关注{%else%}关注问题{%endif%}</a>
                <span class="bullet">•</span>
                <a href="/p/{{feed.post_id}}">{{feed.post_reply_num}} 个回答</a>
                <span class="bullet">•</span>
                <a href="#">分享</a>
                <span class="bullet">•</span>
                <a href="#">感谢</a>
                <span class="bullet">•</span>
                <a href="#">举报</a>
            </div>
        </div>
        {%endif%}

        {%if feed.feed_type==9%}
        <div class="feed">
            <div class="user-wrapper">
                <div class="user-avatar">
                    <a href="/u/{{feed.author_username}}">
                        <img src="{{feed.author_avatar or 'http://avati-avatar.qiniudn.com/b_default.png-avatar' }}" width="46px" height="46px" alt="" class="avatar-img">
                    </a>
                </div>
                <div class="user-title">
                    <div class="time">{{feed.created|pretty_date}}</div>
                    <div class="user-meta meta"><a class="user-link" href="/u/{{feed.author_username}}">{{feed.author_username}}</a> {{feed.feed_text}}</div>
                    <div class="feed-title">
                        <h2><a href="/p/{{feed.post_id}}">{{feed.post_title}}</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="summary">
                <div class="summary-text">
                    {{feed.post_content}}
                </div>
            </div>
            <div class="answer-meta meta">
                <a class="feed-post-follow-btn" href="javascript:void(0)" data-obj="{{feed.post_id}}" data-type="{{feed.post_type}}">{%if feed.post_follow_id%}取消关注{%else%}关注问题{%endif%}</a>
                <span class="bullet">•</span>
                <a href="/p/{{feed.post_id}}">{{feed.post_reply_num}} 个回答</a>
                <span class="bullet">•</span>
                <a href="#">分享</a>
                <span class="bullet">•</span>
                <a href="#">感谢</a>
                <span class="bullet">•</span>
                <a href="#">举报</a>
            </div>
        </div>
        {%endif%}

        {%if feed.feed_type==10%}
        <div class="feed">
            <div class="user-wrapper">
                <div class="user-avatar">
                    <a href="/t/{{feed.tag_name}}">
                        <img src="{{tag_thumb or 'http://avati-static.qiniudn.com/scenery-19.png'}}" width="46px" height="46px" alt="" class="avatar-img">
                    </a>
                </div>
                <div class="user-title">
                    <div class="time">{{feed.created|pretty_date}}</div>
                    <div class="user-meta meta"><a class="user-link" href="/t/{{feed.tag_name}}">{{feed.tag_name}}</a> {{feed.feed_text}}</div>
                    <div class="feed-title">
                        <h2><a href="/p/{{feed.post_id}}">{{feed.post_title}}</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="summary">
                <div class="summary-text">
                    {{feed.post_content}}
                </div>
            </div>
            <div class="answer-meta meta">
                <a class="feed-post-follow-btn" href="javascript:void(0)" data-obj="{{feed.post_id}}" data-type="{{feed.post_type}}">{%if feed.post_follow_id%}取消关注{%else%}关注问题{%endif%}</a>
                <span class="bullet">•</span>
                <a href="/p/{{feed.post_id}}">{{feed.post_reply_num}} 个回答</a>
                <span class="bullet">•</span>
                <a href="#">分享</a>
                <span class="bullet">•</span>
                <a href="#">感谢</a>
                <span class="bullet">•</span>
                <a href="#">举报</a>
            </div>
        </div>
        {%endif%}

        {%if feed.feed_type==11%}
        <div class="feed">
            <div class="user-wrapper">
                <div class="user-avatar">
                    <a href="/u/{{feed.author_username}}">
                        <img src="{{feed.author_avatar or 'http://avati-avatar.qiniudn.com/b_default.png-avatar' }}" width="46px" height="46px" alt="" class="avatar-img">
                    </a>
                </div>
                <div class="user-title">
                    <div class="time">{{feed.created|pretty_date}}</div>
                    <div class="user-meta meta"><a class="user-link" href="/u/{{feed.author_username}}"> {{feed.author_username}} </a> {{feed.feed_text}}</div>
                    <div class="feed-title">
                        <h2><a href="/p/{{feed.post_id}}">{{feed.post_title}}</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="summary">
                <div class="user-name">{{feed.reply_user_username}}{%if feed.reply_user_sign%}，{{feed.reply_user_sign}}{%endif%}</div>
                <div class="summary-text">
                    {{feed.reply_content}}
                </div>
            </div>
            <div class="answer-meta meta">
                <a class="feed-post-follow-btn" href="javascript:void(0)" data-obj="{{feed.post_id}}" data-type="{{feed.post_type}}">{%if feed.post_follow_id%}取消关注{%else%}关注问题{%endif%}</a>
                <span class="bullet">•</span>
                <a href="/p/{{feed.post_id}}">{{feed.post_reply_num}} 个回答</a>
                <span class="bullet">•</span>
                <a href="#">分享</a>
                <span class="bullet">•</span>
                <a href="#">感谢</a>
                <span class="bullet">•</span>
                <a href="#">举报</a>
            </div>
        </div>
        {%endif%}

        {%if feed.feed_type==12%}
        <div class="feed">
            <div class="user-wrapper">
                <div class="user-avatar">
                    <a href="/t/{{feed.tag_name}}">
                        <img src="{{tag_thumb or 'http://avati-static.qiniudn.com/scenery-19.png'}}" width="46px" height="46px" alt="" class="avatar-img">
                    </a>
                </div>
                <div class="user-title">
                    <div class="time">{{feed.created|pretty_date}}</div>
                    <div class="user-meta meta"><a class="user-link" href="/t/{{feed.tag_name}}">{{feed.tag_name}}</a>{{feed.feed_text}}</div>
                    <div class="feed-title">
                        <h2><a href="/p/{{feed.post_id}}">{{feed.post_title}}</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="summary">
                <div class="user-name">{{feed.reply_user_username}}{%if feed.reply_user_sign%}，{{feed.reply_user_sign}}{%endif%}</div>
                <div class="summary-text">
                    {{feed.reply_content}}
                </div>
            </div>
            <div class="answer-meta meta">
                <a class="feed-post-follow-btn" href="javascript:void(0)" data-obj="{{feed.post_id}}" data-type="{{feed.post_type}}">{%if feed.post_follow_id%}取消关注{%else%}关注问题{%endif%}</a>
                <span class="bullet">•</span>
                <a href="/p/{{feed.post_id}}">{{feed.post_reply_num}} 个回答</a>
                <span class="bullet">•</span>
                <a href="#">分享</a>
                <span class="bullet">•</span>
                <a href="#">感谢</a>
                <span class="bullet">•</span>
                <a href="#">举报</a>
            </div>
        </div>
        {%endif%}
        {%endfor%}
    </div>
          </div>
          <div class="tab-pane" id="question">
            <div class="feed-list">
        {%for feed in feeds1.list%}
        {%if feed.feed_type==1%}
        <div class="feed">
            <div class="user-wrapper">
                <div class="user-title">
                    <div class="time">{{feed.created|pretty_date}}</div>
                    <div class="user-meta meta"><a class="user-link" href="/u/{{feed.author_username}}">{{feed.author_username}}</a> {{feed.feed_text}}</div>
                    <div class="feed-title">
                        <h2><a href="/p/{{feed.post_id}}">{{feed.post_title}}</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="summary">
                <div class="summary-text">
                    {{feed.post_content}}
                </div>
            </div>
            <div class="answer-meta meta">
                <a class="feed-post-follow-btn" href="javascript:void(0)" data-obj="{{feed.post_id}}" data-type="{{feed.post_type}}">{%if feed.post_follow_id%}取消关注{%else%}关注问题{%endif%}</a>
                <span class="bullet">•</span>
                <a href="/p/{{feed.post_id}}">{{feed.post_reply_num}} 个回答</a>
                <span class="bullet">•</span>
                <a href="#">分享</a>
                <span class="bullet">•</span>
                <a href="#">感谢</a>
                <span class="bullet">•</span>
                <a href="#">举报</a>
            </div>
        </div>
        {%endif%}
        {%endfor%}
    </div>
          </div>
          <div class="tab-pane" id="answer">
            <div class="feed-list">
        {%for feed in feeds2.list%}
        {%if feed.feed_type==2%}
        <div class="feed">
            <div class="user-wrapper">
                <div class="user-title">
                    <div class="time">{{feed.created|pretty_date}}</div>
                    <div class="user-meta meta"><a class="user-link" href="/u/{{feed.author_username}}"> {{feed.author_username}} </a> {{feed.feed_text}}</div>
                    <div class="feed-title">
                        <h2><a href="/p/{{feed.post_id}}">{{feed.post_title}}</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="summary">
                <div class="summary-text">
                    {{feed.reply_content}}
                </div>
            </div>
            <div class="answer-meta meta">
                <a class="feed-post-follow-btn" href="javascript:void(0)" data-obj="{{feed.post_id}}" data-type="{{feed.post_type}}">{%if feed.post_follow_id%}取消关注{%else%}关注问题{%endif%}</a>
                <span class="bullet">•</span>
                <a href="/p/{{feed.post_id}}">{{feed.post_reply_num}} 个回答</a>
                <span class="bullet">•</span>
                <a href="#">分享</a>
                <span class="bullet">•</span>
                <a href="#">感谢</a>
                <span class="bullet">•</span>
                <a href="#">举报</a>
            </div>
        </div>
        {%endif%}
        {%endfor%}
    </div>
          </div>
          <div class="tab-pane" id="post">
            <div class="feed-list">
        {%for feed in feeds7.list%}
        {%if feed.feed_type==7%}
        {%endif%}
        {%endfor%}
    </div>
          </div>
          <div class="tab-pane" id="comment">
            <div class="feed-list">
        {%for feed in feeds8.list%}
        {%if feed.feed_type==8%}
        {%endif%}
        {%endfor%}
    </div>
          </div>
        </div>
      </div>

    </div>

    <div class=" col-xs-12 col-md-3">
      {%if view_user.uid==user_info.uid%}
      <div class="sidenav container-box">
        <ul class="nav nav-list">
            <li class="nav-item actived">
                <a href="/u/{{user_info.username}}"> <i class="icon-home"></i>
                    我的主页
                </a>
            </li>
            <li class="nav-item">
                <a href="/setting"> <i class="icon-message"></i>
                    基本设置
                </a>
            </li>
            <li class="nav-item">
                <a href="/setting/avatar">
                    <i class="icon-fav"></i>
                    设置头像
                </a>
            </li>

            <li class="nav-item">
                <a href="/setting/cover">
                    <i class="icon-latter"></i>
                    设置封面
                </a>
            </li>
            <li class="nav-item">
                <a href="/setting/password">
                    <i class="icon-follow"></i>
                    修改密码
                </a>
            </li>
            <li class="divider"></li>
            <li class="nav-item">
                <a href="/">
                    <i class="icon-history"></i>
                    返回首页
                </a>
            </li>
        </ul>
    </div>
      {%else%}
      <div class="follow-box box">
        <a id="followBtn" data-obj="{{view_user.uid}}" data-type="{{'u'}}" type="button" class="btn {%if follow %}btn-danger {% else %} btn-success {% endif %}btn-follow">{%if follow%}取消关注 {% else %} 关注 TA{% endif %}</a>
        <div class="promote-link meta">
          <a herf="#">推送问题给更多人</a>
        </div>
      </div>
      {%endif%}
    </div>
{% endblock %} 

{% block javascript %}
<script src="/static/js/d3.v3.min.js"></script>
<script src="/static/trianglify-gh-pages/trianglify.js"></script>
 <script type="text/javascript">
$(document).ready(function() {
    var t = new Trianglify();
    var x= document.getElementById('c4-header-bg-container');
var pattern = t.generate(x.offsetWidth, x.offsetHeight);
x.setAttribute('style', 'background-image: '+pattern.dataUrl);
});
</script>

  <script type="text/javascript">
  $('#type_tab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})

  $(document).on('click', '#followBtn',  function() {
        var obj_id = $('#followBtn').attr('data-obj');
            var obj_type = $('#followBtn').attr('data-type');

            $.ajax({
              type: "POST",
              contentType: "application/json; charset=utf-8",
              dataType: "json",
              url: "/follow",
              data: JSON.stringify({obj_id: obj_id, obj_type: obj_type}), 
              success: function (msg) {
                if ($('#followBtn').hasClass('btn-success')) {
                $('#followBtn').removeClass('btn-success');
                $('#followBtn').addClass('btn-danger');
                $('#followBtn').text('取消关注');
                }
                else {
                  $('#followBtn').removeClass('btn-danger');
                $('#followBtn').addClass('btn-success');
                $('#followBtn').text('关注 TA');
                }
              },
              error: function (msg) {
                alert("error");
              }
            });
          
        });

$(document).ready(function() {
    $(".summary-text").each(function(){
        var text = $(this);
        str = text.html();
            textLeng = 130;
            if(str.length > textLeng ){
                  text.html(str.substring(0,textLeng)+"...");
            } 
    });
});
</script>
{% endblock %}